In [1]:
#membaca dataset heart_failure_clinical_records_dataset
import pandas as pd
Datanya_50= pd.read_csv('pizza_sales.csv')
Datanya_50

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616.0,21348.0,ckn_alfredo_m,1.0,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617.0,21348.0,four_cheese_l,1.0,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618.0,21348.0,napolitana_s,1.0,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619.0,21349.0,mexicana_l,1.0,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620.0,21350.0,bbq_ckn_s,1.0,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [2]:
Datanya_50['order_date'] = Datanya_50['order_date'].str.replace('/', '-')

In [3]:
Datanya_50['order_date'] = pd.to_datetime(Datanya_50['order_date'], format='%d-%m-%Y')

In [4]:
PilihKolom = Datanya_50[['order_id', 'order_date','pizza_size', 'pizza_name']]
PilihKolom

       order_id order_date pizza_size                  pizza_name
0           1.0 2015-01-01          M          The Hawaiian Pizza
1           2.0 2015-01-01          M    The Classic Deluxe Pizza
2           2.0 2015-01-01          L       The Five Cheese Pizza
3           2.0 2015-01-01          L   The Italian Supreme Pizza
4           2.0 2015-01-01          M          The Mexicana Pizza
...         ...        ...        ...                         ...
48615   21348.0 2015-12-31          M   The Chicken Alfredo Pizza
48616   21348.0 2015-12-31          L       The Four Cheese Pizza
48617   21348.0 2015-12-31          S        The Napolitana Pizza
48618   21349.0 2015-12-31          L          The Mexicana Pizza
48619   21350.0 2015-12-31          S  The Barbecue Chicken Pizza

[48620 rows x 4 columns]

In [5]:
from datetime import timedelta
# df_sorted_desc = PilihKolom.sort_values(by='order_date', ascending=False)

tanggal_indeks = pd.to_datetime('2015-01-01')
i = 0
tanggal_akhir = pd.to_datetime('2015-12-31')
while tanggal_indeks <= tanggal_akhir:
    tanggal_baru = tanggal_indeks + timedelta(days=5)
    
    # Gunakan .loc[] untuk assignment yang benar
    PilihKolom.loc[(PilihKolom['order_date'] >= tanggal_indeks) & 
                   (PilihKolom['order_date'] < tanggal_baru), 'cluster'] = i
    
    # Update tanggal_indeks dan increment nilai i
    tanggal_indeks = tanggal_baru
    i += 1

/tmp/ipykernel_4569/1573059941.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PilihKolom.loc[(PilihKolom['order_date'] >= tanggal_indeks) &

In [5]:
# Tambahkan kolom 'week_number' berdasarkan minggu dari tanggal
PilihKolom['week_number'] = PilihKolom['order_date'].dt.isocalendar().week

/tmp/ipykernel_53145/968905110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PilihKolom['week_number'] = PilihKolom['order_date'].dt.isocalendar().week

In [6]:
# Kelompokkan berdasarkan minggu
grouped = PilihKolom.groupby('cluster')

# Pisahkan DataFrame untuk setiap minggu
weekly_dataframes = {week: group for week, group in grouped}

# Simpan setiap minggu ke file CSV (opsional) dan tampilkan hasil
for week, df in weekly_dataframes.items():
    print(f"Data untuk Minggu ke-{week}:")
    print(df)
    print("\n")

    # Opsional: Simpan ke file CSV
    # df.to_csv(f"week_{week}.csv", index=False)

Data untuk Minggu ke-0.0:
     order_id order_date pizza_size  \
0         1.0 2015-01-01          M
1         2.0 2015-01-01          M
2         2.0 2015-01-01          L
3         2.0 2015-01-01          L
4         2.0 2015-01-01          M
..        ...        ...        ...
697     307.0 2015-01-05          L
698     307.0 2015-01-05          M
699     308.0 2015-01-05          L
700     308.0 2015-01-05          L
701     308.0 2015-01-05          S

                                     pizza_name  cluster
0                            The Hawaiian Pizza      0.0
1                      The Classic Deluxe Pizza      0.0
2                         The Five Cheese Pizza      0.0
3                     The Italian Supreme Pizza      0.0
4                            The Mexicana Pizza      0.0
..                                          ...      ...
697                    The Classic Deluxe Pizza      0.0
698                      The Thai Chicken Pizza      0.0
699                          The Hawaiian Pizza      0.0
700  The Pepperoni, Mushroom, and Peppers Pizza      0.0
701                      The Thai Chicken Pizza      0.0

[702 rows x 5 columns]


Data untuk Minggu ke-1.0:
      order_id order_date pizza_size  \
702      309.0 2015-01-06          L
703      309.0 2015-01-06          M
704      310.0 2015-01-06          S
705      310.0 2015-01-06          S
706      311.0 2015-01-06          L
...        ...        ...        ...
1413     628.0 2015-01-10          S
1414     629.0 2015-01-10          M
1415     629.0 2015-01-10          L
1416     629.0 2015-01-10          M
1417     629.0 2015-01-10          L

                                      pizza_name  cluster
702                        The Five Cheese Pizza      1.0
703                      The Pepper Salami Pizza      1.0
704                           The Hawaiian Pizza      1.0
705                       The Thai Chicken Pizza      1.0
706                           The Sicilian Pizza      1.0
...                                          ...      ...
1413           The Vegetables + Vegetables Pizza      1.0
1414                         The Calabrese Pizza      1.0
1415                       The Five Cheese Pizza      1.0
1416  The Pepperoni, Mushroom, and Peppers Pizza      1.0
1417                     The Spinach Pesto Pizza      1.0

[716 rows x 5 columns]


Data untuk Minggu ke-2.0:
      order_id order_date pizza_size                   pizza_name  cluster
1418     630.0 2015-01-11          S           The Sicilian Pizza      2.0
1419     631.0 2015-01-11          L          The Pepperoni Pizza      2.0
1420     632.0 2015-01-11          S     The Classic Deluxe Pizza      2.0
1421     633.0 2015-01-11          L      The Mediterranean Pizza      2.0
1422     633.0 2015-01-11          L          The Pepperoni Pizza      2.0
...        ...        ...        ...                          ...      ...
2029     906.0 2015-01-15          S        The Soppressata Pizza      2.0
2030     906.0 2015-01-15          L  The Southwest Chicken Pizza      2.0
2031     907.0 2015-01-15          S           The Sicilian Pizza      2.0
2032     908.0 2015-01-15          M          The Pepperoni Pizza      2.0
2033     908.0 2015-01-15          L       The Thai Chicken Pizza      2.0

[616 rows x 5 columns]


Data untuk Minggu ke-3.0:
      order_id order_date pizza_size                        pizza_name  \
2034     909.0 2015-01-16          L        The Barbecue Chicken Pizza
2035     909.0 2015-01-16          M      The Italian Vegetables Pizza
2036     909.0 2015-01-16          S           The Spicy Italian Pizza
2037     910.0 2015-01-16          S       The Italian Capocollo Pizza
2038     910.0 2015-01-16          S  The Prosciutto and Arugula Pizza
...        ...        ...        ...                               ...
2703    1199.0 2015-01-20          M         The Chicken Alfredo Pizza
2704    1200.0 2015-01-20          M         The Chicken Alfredo Pizza
2705    1200.0 2015-01-20          M  The Prosciutto and Arugula Pizza
2706    1201.0 2015-01-20          L             The Five Cheese Pizza
2707    1201.0 2015-01-20          L           The Spicy Italian Pizza

      cluster
2034      3.0
2035      3.0
2036      3.0
2037      3.0
2038      3.0
...       ...
2703      3.0
2704      3.0
2705      3.0
2706      3.0
2707      3.0

[674 rows x 5 columns]


Data untuk Minggu ke-4.0:
      order_id order_date pizza_size                         pizza_name  \
2708    1202.0 2015-01-21          S                 The Big Meat Pizza
2709    1203.0 2015-01-21          L          The Italian Supreme Pizza
2710    1204.0 2015-01-21          S                 The Big Meat Pizza
2711    1204.0 2015-01-21          L                 The Hawaiian Pizza
2712    1204.0 2015-01-21          S                 The Sicilian Pizza
...        ...        ...        ...                                ...
3377    1494.0 2015-01-25          L  The Vegetables + Vegetables Pizza
3378    1495.0 2015-01-25          S                 The Mexicana Pizza
3379    1495.0 2015-01-25          S            The Spicy Italian Pizza
3380    1495.0 2015-01-25          S            The Spinach Pesto Pizza
3381    1496.0 2015-01-25          L               The Napolitana Pizza

      cluster
2708      4.0
2709      4.0
2710      4.0
2711      4.0
2712      4.0
...       ...
3377      4.0
3378      4.0
3379      4.0
3380      4.0
3381      4.0

[674 rows x 5 columns]


Data untuk Minggu ke-5.0:
      order_id order_date pizza_size  \
3382    1497.0 2015-01-26          S
3383    1497.0 2015-01-26          L
3384    1497.0 2015-01-26          M
3385    1498.0 2015-01-26          L
3386    1499.0 2015-01-26          L
...        ...        ...        ...
4008    1790.0 2015-01-30          M
4009    1791.0 2015-01-30          M
4010    1791.0 2015-01-30          M
4011    1791.0 2015-01-30          L
4012    1791.0 2015-01-30          L

                                      pizza_name  cluster
3382                          The Big Meat Pizza      5.0
3383                         The Calabrese Pizza      5.0
3384                   The Italian Supreme Pizza      5.0
3385                      The Thai Chicken Pizza      5.0
3386                          The Hawaiian Pizza      5.0
...                                          ...      ...
4008                     The Spicy Italian Pizza      5.0
4009                The California Chicken Pizza      5.0
4010                       The Four Cheese Pizza      5.0
4011  The Pepperoni, Mushroom, and Peppers Pizza      5.0
4012                      The Thai Chicken Pizza      5.0

[631 rows x 5 columns]


Data untuk Minggu ke-6.0:
      order_id order_date pizza_size                  pizza_name  cluster
4013    1792.0 2015-01-31          M          The Mexicana Pizza      6.0
4014    1792.0 2015-01-31          S   The Spinach Supreme Pizza      6.0
4015    1792.0 2015-01-31         XL             The Greek Pizza      6.0
4016    1793.0 2015-01-31          M       The Four Cheese Pizza      6.0
4017    1793.0 2015-01-31          M     The Pepper Salami Pizza      6.0
...        ...        ...        ...                         ...      ...
4770    2111.0 2015-02-04          S         The Pepperoni Pizza      6.0
4771    2112.0 2015-02-04          S  The Barbecue Chicken Pizza      6.0
4772    2113.0 2015-02-04          M   The Chicken Alfredo Pizza      6.0
4773    2113.0 2015-02-04          M          The Mexicana Pizza      6.0
4774    2114.0 2015-02-04          M    The Classic Deluxe Pizza      6.0

[762 rows x 5 columns]


Data untuk Minggu ke-7.0:
      order_id order_date pizza_size                   pizza_name  cluster
4775    2115.0 2015-02-05          S           The Big Meat Pizza      7.0
4776    2115.0 2015-02-05          S           The Hawaiian Pizza      7.0
4777    2115.0 2015-02-05          L          The Pepperoni Pizza      7.0
4778    2115.0 2015-02-05          L  The Southwest Chicken Pizza      7.0
4779    2116.0 2015-02-05          M           The Mexicana Pizza      7.0
...        ...        ...        ...                          ...      ...
5445    2406.0 2015-02-09          S           The Big Meat Pizza      7.0
5446    2406.0 2015-02-09          L          The Pepperoni Pizza      7.0
5447    2407.0 2015-02-09          L      The Mediterranean Pizza      7.0
5448    2408.0 2015-02-09          L        The Five Cheese Pizza      7.0
5449    2408.0 2015-02-09          L        The Four Cheese Pizza      7.0

[675 rows x 5 columns]


Data untuk Minggu ke-8.0:
      order_id order_date pizza_size                  pizza_name  cluster
5450    2409.0 2015-02-10          L  The Barbecue Chicken Pizza      8.0
5451    2409.0 2015-02-10          L         The Pepperoni Pizza      8.0
5452    2409.0 2015-02-10          L       The Soppressata Pizza      8.0
5453    2409.0 2015-02-10          L             The Greek Pizza      8.0
5454    2410.0 2015-02-10          S        The Napolitana Pizza      8.0
...        ...        ...        ...                         ...      ...
6143    2720.0 2015-02-14          L  The Barbecue Chicken Pizza      8.0
6144    2721.0 2015-02-14          L       The Five Cheese Pizza      8.0
6145    2722.0 2015-02-14          M  The Barbecue Chicken Pizza      8.0
6146    2722.0 2015-02-14          S          The Hawaiian Pizza      8.0
6147    2722.0 2015-02-14          S         The Pepperoni Pizza      8.0

[698 rows x 5 columns]


Data untuk Minggu ke-9.0:
      order_id order_date pizza_size  \
6148    2723.0 2015-02-15          L
6149    2724.0 2015-02-15          S
6150    2724.0 2015-02-15          M
6151    2724.0 2015-02-15          L
6152    2725.0 2015-02-15          L
...        ...        ...        ...
6799    3002.0 2015-02-19          M
6800    3002.0 2015-02-19          L
6801    3003.0 2015-02-19          M
6802    3003.0 2015-02-19          S
6803    3004.0 2015-02-19          L

                                      pizza_name  cluster
6148                         The Pepperoni Pizza      9.0
6149                The California Chicken Pizza      9.0
6150                    The Classic Deluxe Pizza      9.0
6151           The Vegetables + Vegetables Pizza      9.0
6152                  The Barbecue Chicken Pizza      9.0
...                                          ...      ...
6799  The Pepperoni, Mushroom, and Peppers Pizza      9.0
6800                 The Southwest Chicken Pizza      9.0
6801                     The Chicken Pesto Pizza      9.0
6802                     The Pepper Salami Pizza      9.0
6803                          The Sicilian Pizza      9.0

[656 rows x 5 columns]


Data untuk Minggu ke-10.0:
      order_id order_date pizza_size                        pizza_name  \
6804    3005.0 2015-02-20          L                The Mexicana Pizza
6805    3006.0 2015-02-20          S               The Calabrese Pizza
6806    3006.0 2015-02-20          L           The Chicken Pesto Pizza
6807    3006.0 2015-02-20          S            The Green Garden Pizza
6808    3006.0 2015-02-20          L               The Pepperoni Pizza
...        ...        ...        ...                               ...
7442    3280.0 2015-02-24          M  The Prosciutto and Arugula Pizza
7443    3281.0 2015-02-24          L             The Five Cheese Pizza
7444    3281.0 2015-02-24          M               The Pepperoni Pizza
7445    3281.0 2015-02-24          S         The Spinach Supreme Pizza
7446    3282.0 2015-02-24          M         The Spinach Supreme Pizza

      cluster
6804     10.0
6805     10.0
6806     10.0
6807     10.0
6808     10.0
...       ...
7442     10.0
7443     10.0
7444     10.0
7445     10.0
7446     10.0

[643 rows x 5 columns]


Data untuk Minggu ke-11.0:
      order_id order_date pizza_size                    pizza_name  cluster
7447    3283.0 2015-02-25          L         The Four Cheese Pizza     11.0
7448    3283.0 2015-02-25          S          The Napolitana Pizza     11.0
7449    3284.0 2015-02-25          S            The Hawaiian Pizza     11.0
7450    3285.0 2015-02-25          M    The Barbecue Chicken Pizza     11.0
7451    3286.0 2015-02-25          S            The Big Meat Pizza     11.0
...        ...        ...        ...                           ...      ...
8142    3576.0 2015-03-01          S        The Thai Chicken Pizza     11.0
8143    3577.0 2015-03-01          L   The Southwest Chicken Pizza     11.0
8144    3578.0 2015-03-01          M  The California Chicken Pizza     11.0
8145    3579.0 2015-03-01          S            The Big Meat Pizza     11.0
8146    3579.0 2015-03-01          S      The Classic Deluxe Pizza     11.0

[700 rows x 5 columns]


Data untuk Minggu ke-12.0:
      order_id order_date pizza_size  \
8147    3580.0 2015-03-02          S
8148    3581.0 2015-03-02          M
8149    3582.0 2015-03-02          M
8150    3582.0 2015-03-02          M
8151    3583.0 2015-03-02          S
...        ...        ...        ...
8842    3877.0 2015-03-06          S
8843    3877.0 2015-03-06          L
8844    3877.0 2015-03-06          M
8845    3878.0 2015-03-06          S
8846    3879.0 2015-03-06          L

                                      pizza_name  cluster
8147  The Pepperoni, Mushroom, and Peppers Pizza     12.0
8148                   The Chicken Alfredo Pizza     12.0
8149            The Prosciutto and Arugula Pizza     12.0
8150                     The Spicy Italian Pizza     12.0
8151                  The Barbecue Chicken Pizza     12.0
...                                          ...      ...
8842                        The Brie Carre Pizza     12.0
8843                       The Five Cheese Pizza     12.0
8844                   The Spinach Supreme Pizza     12.0
8845                          The Hawaiian Pizza     12.0
8846                   The Italian Supreme Pizza     12.0

[700 rows x 5 columns]


Data untuk Minggu ke-13.0:
      order_id order_date pizza_size  \
8847    3880.0 2015-03-07          L
8848    3880.0 2015-03-07          S
8849    3880.0 2015-03-07          M
8850    3880.0 2015-03-07          M
8851    3881.0 2015-03-07          S
...        ...        ...        ...
9523    4173.0 2015-03-11          M
9524    4173.0 2015-03-11          S
9525    4174.0 2015-03-11          S
9526    4175.0 2015-03-11          M
9527    4176.0 2015-03-11          L

                                      pizza_name  cluster
8847                  The Barbecue Chicken Pizza     13.0
8848  The Pepperoni, Mushroom, and Peppers Pizza     13.0
8849                         The Pepperoni Pizza     13.0
8850            The Prosciutto and Arugula Pizza     13.0
8851                          The Sicilian Pizza     13.0
...                                          ...      ...
9523                    The Classic Deluxe Pizza     13.0
9524                     The Spinach Pesto Pizza     13.0
9525                      The Green Garden Pizza     13.0
9526                      The Green Garden Pizza     13.0
9527                     The Mediterranean Pizza     13.0

[681 rows x 5 columns]


Data untuk Minggu ke-14.0:
       order_id order_date pizza_size  \
9528     4177.0 2015-03-12          S
9529     4177.0 2015-03-12          M
9530     4177.0 2015-03-12          M
9531     4177.0 2015-03-12          S
9532     4178.0 2015-03-12          L
...         ...        ...        ...
10197    4467.0 2015-03-16          M
10198    4468.0 2015-03-16          M
10199    4469.0 2015-03-16          S
10200    4469.0 2015-03-16          L
10201    4469.0 2015-03-16          M

                                       pizza_name  cluster
9528                          The Calabrese Pizza     14.0
9529                           The Mexicana Pizza     14.0
9530   The Pepperoni, Mushroom, and Peppers Pizza     14.0
9531                          The Pepperoni Pizza     14.0
9532                 The California Chicken Pizza     14.0
...                                           ...      ...
10197                   The Spinach Supreme Pizza     14.0
10198           The Vegetables + Vegetables Pizza     14.0
10199                     The Chicken Pesto Pizza     14.0
10200                     The Spicy Italian Pizza     14.0
10201           The Vegetables + Vegetables Pizza     14.0

[674 rows x 5 columns]


Data untuk Minggu ke-15.0:
       order_id order_date pizza_size                   pizza_name  cluster
10202    4470.0 2015-03-17          S          The Pepperoni Pizza     15.0
10203    4470.0 2015-03-17          L           The Sicilian Pizza     15.0
10204    4470.0 2015-03-17          M   The Spinach and Feta Pizza     15.0
10205    4471.0 2015-03-17          S           The Big Meat Pizza     15.0
10206    4471.0 2015-03-17          L  The Italian Capocollo Pizza     15.0
...         ...        ...        ...                          ...      ...
10917    4780.0 2015-03-21          L           The Mexicana Pizza     15.0
10918    4781.0 2015-03-21          L  The Southwest Chicken Pizza     15.0
10919    4782.0 2015-03-21          L          The Pepperoni Pizza     15.0
10920    4782.0 2015-03-21          M          The Pepperoni Pizza     15.0
10921    4782.0 2015-03-21          L      The Spinach Pesto Pizza     15.0

[720 rows x 5 columns]


Data untuk Minggu ke-16.0:
       order_id order_date pizza_size                         pizza_name  \
10922    4783.0 2015-03-22          S   The Prosciutto and Arugula Pizza
10923    4783.0 2015-03-22          S         The Spinach and Feta Pizza
10924    4783.0 2015-03-22          M             The Thai Chicken Pizza
10925    4784.0 2015-03-22          S  The Vegetables + Vegetables Pizza
10926    4785.0 2015-03-22          L            The Spicy Italian Pizza
...         ...        ...        ...                                ...
11503    5058.0 2015-03-26          L         The Spinach and Feta Pizza
11504    5059.0 2015-03-26          L                 The Hawaiian Pizza
11505    5059.0 2015-03-26          L        The Italian Capocollo Pizza
11506    5060.0 2015-03-26          L                 The Mexicana Pizza
11507    5061.0 2015-03-26          S        The Southwest Chicken Pizza

       cluster
10922     16.0
10923     16.0
10924     16.0
10925     16.0
10926     16.0
...        ...
11503     16.0
11504     16.0
11505     16.0
11506     16.0
11507     16.0

[586 rows x 5 columns]


Data untuk Minggu ke-17.0:
       order_id order_date pizza_size                 pizza_name  cluster
11508    5062.0 2015-03-27          L         The Hawaiian Pizza     17.0
11509    5063.0 2015-03-27          S    The Spicy Italian Pizza     17.0
11510    5063.0 2015-03-27          L     The Thai Chicken Pizza     17.0
11511    5063.0 2015-03-27          L            The Greek Pizza     17.0
11512    5064.0 2015-03-27          M  The Chicken Alfredo Pizza     17.0
...         ...        ...        ...                        ...      ...
12229    5369.0 2015-03-31          L         The Hawaiian Pizza     17.0
12230    5369.0 2015-03-31          L         The Mexicana Pizza     17.0
12231    5369.0 2015-03-31          S         The Sicilian Pizza     17.0
12232    5369.0 2015-03-31          L    The Spicy Italian Pizza     17.0
12233    5370.0 2015-03-31          M    The Spicy Italian Pizza     17.0

[726 rows x 5 columns]


Data untuk Minggu ke-18.0:
       order_id order_date pizza_size  \
12234    5371.0 2015-04-01          M
12235    5371.0 2015-04-01          L
12236    5372.0 2015-04-01          M
12237    5372.0 2015-04-01          S
12238    5373.0 2015-04-01          M
...         ...        ...        ...
12938    5677.0 2015-04-05          M
12939    5677.0 2015-04-05          S
12940    5677.0 2015-04-05          L
12941    5678.0 2015-04-05          S
12942    5679.0 2015-04-05          L

                                       pizza_name  cluster
12234                          The Sicilian Pizza     18.0

In [35]:
weekly_dataframes[0]

,order_id,order_date,pizza_size,pizza_name,cluster
0,1.0,2015-01-01,M,The Hawaiian Pizza,0.0
1,2.0,2015-01-01,M,The Classic Deluxe Pizza,0.0
2,2.0,2015-01-01,L,The Five Cheese Pizza,0.0
3,2.0,2015-01-01,L,The Italian Supreme Pizza,0.0
4,2.0,2015-01-01,M,The Mexicana Pizza,0.0
...,...,...,...,...,...
697,307.0,2015-01-05,L,The Classic Deluxe Pizza,0.0
698,307.0,2015-01-05,M,The Thai Chicken Pizza,0.0
699,308.0,2015-01-05,L,The Hawaiian Pizza,0.0
700,308.0,2015-01-05,L,"The Pepperoni, Mushroom, and Peppers Pizza",0.0
701,308.0,2015-01-05,S,The Thai Chicken Pizza,0.0

In [104]:
minggu1 = weekly_dataframes[1]['pizza_name'].value_counts().head(3)
minggu1

pizza_name
The Barbecue Chicken Pizza    35
The Italian Supreme Pizza     32
The Thai Chicken Pizza        32
Name: count, dtype: int64

In [105]:
minggu2 = weekly_dataframes[2]['pizza_name'].value_counts().head(3)
minggu2

pizza_name
The Pepperoni Pizza         60
The Classic Deluxe Pizza    50
The Hawaiian Pizza          44
Name: count, dtype: int64

In [113]:
# Perulangan untuk mendapatkan 3 pizza terlaris tiap minggu
top_pizzas_per_week = {}
for week in range(1, 54):  # Loop dari minggu ke-1 hingga ke-53
    if week in weekly_dataframes:  # Pastikan minggu tersebut ada di data
        top_pizzas = weekly_dataframes[week]['pizza_name'].value_counts().tail(3)
        top_pizzas_per_week[week] = top_pizzas

# Tampilkan hasil
for week, top_pizzas in top_pizzas_per_week.items():
    print(f"Top 3 pizza minggu ke-{week}:")
    print(top_pizzas)
    print("\n")

Top 3 pizza minggu ke-1:
pizza_name
The Mediterranean Pizza    6
The Calabrese Pizza        4
The Brie Carre Pizza       3
Name: count, dtype: int64


Top 3 pizza minggu ke-2:
pizza_name
The Pepperoni, Mushroom, and Peppers Pizza    18
The Spinach Pesto Pizza                       14
The Brie Carre Pizza                           8
Name: count, dtype: int64


Top 3 pizza minggu ke-3:
pizza_name
The Mediterranean Pizza      12
The Chicken Alfredo Pizza    12
The Brie Carre Pizza          4
Name: count, dtype: int64


Top 3 pizza minggu ke-4:
pizza_name
The Green Garden Pizza    14
The Calabrese Pizza       14
The Brie Carre Pizza      11
Name: count, dtype: int64


Top 3 pizza minggu ke-5:
pizza_name
The Green Garden Pizza     13
The Brie Carre Pizza       11
The Mediterranean Pizza    11
Name: count, dtype: int64


Top 3 pizza minggu ke-6:
pizza_name
The Green Garden Pizza     15
The Brie Carre Pizza       15
The Mediterranean Pizza    14
Name: count, dtype: int64


Top 3 pizza minggu ke-7:
pizza_name
The Spinach Supreme Pizza    13
The Brie Carre Pizza         12
The Mediterranean Pizza      11
Name: count, dtype: int64


Top 3 pizza minggu ke-8:
pizza_name
The Spinach Supreme Pizza    14
The Chicken Alfredo Pizza    14
The Brie Carre Pizza          9
Name: count, dtype: int64


Top 3 pizza minggu ke-9:
pizza_name
The Spinach Pesto Pizza      16
The Chicken Alfredo Pizza    15
The Brie Carre Pizza          6
Name: count, dtype: int64


Top 3 pizza minggu ke-10:
pizza_name
The Greek Pizza            15
The Chicken Pesto Pizza    13
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-11:
pizza_name
The Soppressata Pizza      15
The Mediterranean Pizza    13
The Brie Carre Pizza       13
Name: count, dtype: int64


Top 3 pizza minggu ke-12:
pizza_name
The Mediterranean Pizza    15
The Calabrese Pizza        11
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-13:
pizza_name
The Spinach Supreme Pizza    14
The Calabrese Pizza          11
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-14:
pizza_name
The Chicken Pesto Pizza    16
The Spinach Pesto Pizza    12
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-15:
pizza_name
The Chicken Pesto Pizza    18
The Spinach Pesto Pizza    10
The Brie Carre Pizza        4
Name: count, dtype: int64


Top 3 pizza minggu ke-16:
pizza_name
The Chicken Pesto Pizza      16
The Chicken Alfredo Pizza    12
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-17:
pizza_name
The Spinach Pesto Pizza      14
The Chicken Alfredo Pizza    13
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-18:
pizza_name
The Mediterranean Pizza    15
The Soppressata Pizza      11
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-19:
pizza_name
The Green Garden Pizza     17
The Chicken Pesto Pizza    11
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-20:
pizza_name
The Chicken Alfredo Pizza    17
The Spinach Supreme Pizza    15
The Brie Carre Pizza         14
Name: count, dtype: int64


Top 3 pizza minggu ke-21:
pizza_name
The Italian Vegetables Pizza    14
The Soppressata Pizza           14
The Brie Carre Pizza            11
Name: count, dtype: int64


Top 3 pizza minggu ke-22:
pizza_name
The Spinach Supreme Pizza    15
The Spinach Pesto Pizza      14
The Brie Carre Pizza          4
Name: count, dtype: int64


Top 3 pizza minggu ke-23:
pizza_name
The Italian Vegetables Pizza    15
The Mediterranean Pizza         14
The Brie Carre Pizza            12
Name: count, dtype: int64


Top 3 pizza minggu ke-24:
pizza_name
The Soppressata Pizza      16
The Chicken Pesto Pizza    12
The Brie Carre Pizza        5
Name: count, dtype: int64


Top 3 pizza minggu ke-25:
pizza_name
The Prosciutto and Arugula Pizza    19
The Brie Carre Pizza                14
The Italian Vegetables Pizza        13
Name: count, dtype: int64


Top 3 pizza minggu ke-26:
pizza_name
The Mediterranean Pizza    15
The Green Garden Pizza     14
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-27:
pizza_name
The Chicken Pesto Pizza      16
The Chicken Alfredo Pizza    16
The Brie Carre Pizza         10
Name: count, dtype: int64


Top 3 pizza minggu ke-28:
pizza_name
The Mediterranean Pizza         15
The Brie Carre Pizza            11
The Italian Vegetables Pizza     9
Name: count, dtype: int64


Top 3 pizza minggu ke-29:
pizza_name
The Calabrese Pizza        16
The Spinach Pesto Pizza    14
The Brie Carre Pizza       12
Name: count, dtype: int64


Top 3 pizza minggu ke-30:
pizza_name
The Spinach Pesto Pizza    15
The Soppressata Pizza      13
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-31:
pizza_name
The Chicken Alfredo Pizza       13
The Italian Vegetables Pizza    11
The Brie Carre Pizza            10
Name: count, dtype: int64


Top 3 pizza minggu ke-32:
pizza_name
The Italian Vegetables Pizza    15
The Green Garden Pizza          13
The Brie Carre Pizza             7
Name: count, dtype: int64


Top 3 pizza minggu ke-33:
pizza_name
The Spinach Pesto Pizza    14
The Calabrese Pizza        14
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-34:
pizza_name
The Green Garden Pizza     14
The Chicken Pesto Pizza    13
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-35:
pizza_name
The Mediterranean Pizza    13
The Calabrese Pizza        11
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-36:
pizza_name
The Italian Vegetables Pizza    13
The Brie Carre Pizza            13
The Calabrese Pizza             13
Name: count, dtype: int64


Top 3 pizza minggu ke-37:
pizza_name
The Spinach Supreme Pizza    14
The Calabrese Pizza          14
The Brie Carre Pizza         13
Name: count, dtype: int64


Top 3 pizza minggu ke-38:
pizza_name
The Green Garden Pizza    15
The Soppressata Pizza     13
The Brie Carre Pizza      10
Name: count, dtype: int64


Top 3 pizza minggu ke-39:
pizza_name
The Mediterranean Pizza    11
The Chicken Pesto Pizza     9
The Brie Carre Pizza        4
Name: count, dtype: int64


Top 3 pizza minggu ke-40:
pizza_name
The Mediterranean Pizza      16
The Spinach Supreme Pizza    15
The Brie Carre Pizza         11
Name: count, dtype: int64


Top 3 pizza minggu ke-41:
pizza_name
The Spinach Pesto Pizza      10
The Brie Carre Pizza          8
The Chicken Alfredo Pizza     7
Name: count, dtype: int64


Top 3 pizza minggu ke-42:
pizza_name
The Mediterranean Pizza    15
The Spinach Pesto Pizza    13
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-43:
pizza_name
The Chicken Pesto Pizza    12
The Spinach Pesto Pizza    11
The Brie Carre Pizza        8
Name: count, dtype: int64


Top 3 pizza minggu ke-44:
pizza_name
The Italian Vegetables Pizza    11
The Spinach and Feta Pizza       9
The Brie Carre Pizza             8
Name: count, dtype: int64


Top 3 pizza minggu ke-45:
pizza_name
The Italian Vegetables Pizza         14
The Vegetables + Vegetables Pizza    14
The Brie Carre Pizza                  7
Name: count, dtype: int64


Top 3 pizza minggu ke-46:
pizza_name
The Green Garden Pizza          13
The Brie Carre Pizza            12
The Italian Vegetables Pizza    12
Name: count, dtype: int64


Top 3 pizza minggu ke-47:
pizza_name
The Green Garden Pizza          14
The Italian Vegetables Pizza    10
The Brie Carre Pizza             8
Name: count, dtype: int64


Top 3 pizza minggu ke-48:
pizza_name
The Spinach Supreme Pizza    16
The Chicken Pesto Pizza      14
The Brie Carre Pizza         13
Name: count, dtype: int64


Top 3 pizza minggu ke-49:
pizza_name
The Green Garden Pizza    13
The Calabrese Pizza       11
The Brie Carre Pizza       8
Name: count, dtype: int64


Top 3 pizza minggu ke-50:
pizza_name
The Spinach Pesto Pizza    13
The Mediterranean Pizza    11
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-51:
pizza_name
The Calabrese Pizza       14
The Green Garden Pizza    13
The Brie Carre Pizza      10
Name: count, dtype: int64


Top 3 pizza minggu ke-52:
pizza_name
The Spinach Supreme Pizza    8
The Soppressata Pizza        7
The Brie Carre Pizza         5
Name: count, dtype: int64


Top 3 pizza minggu ke-53:
pizza_name
The Spinach Supreme Pizza    6
The Calabrese Pizza          6
The Brie Carre Pizza         4
Name: count, dtype: int64

In [111]:
top_pizzas_per_week[53]

pizza_name
The California Chicken Pizza    24
The Classic Deluxe Pizza        24
The Pepperoni Pizza             21
Name: count, dtype: int64

In [98]:
weekly_dataframes[2]

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
581,582,255,2015-01-05,L,The Five Cheese Pizza,2
582,583,255,2015-01-05,M,The Green Garden Pizza,2
583,584,255,2015-01-05,L,The Hawaiian Pizza,2
584,585,255,2015-01-05,M,The Spinach and Feta Pizza,2
585,586,256,2015-01-05,L,"The Pepperoni, Mushroom, and Peppers Pizza",2
...,...,...,...,...,...,...
1527,1528,679,2015-01-11,L,The Italian Supreme Pizza,2
1528,1529,679,2015-01-11,L,The Mediterranean Pizza,2
1529,1530,680,2015-01-11,S,The Chicken Pesto Pizza,2
1530,1531,680,2015-01-11,M,The Sicilian Pizza,2
1531,1532,681,2015-01-11,L,The Pepper Salami Pizza,2

In [65]:
len(weekly_dataframes)

53

In [66]:
start_date = '2015-01-01'
end_date = '2015-01-31'

# Memfilter data berdasarkan rentang tanggal
Januari = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]

In [67]:
Januari

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
0,1,1,2015-01-01,M,The Hawaiian Pizza,1
1,2,2,2015-01-01,M,The Classic Deluxe Pizza,1
2,3,2,2015-01-01,L,The Five Cheese Pizza,1
3,4,2,2015-01-01,L,The Italian Supreme Pizza,1
4,5,2,2015-01-01,M,The Mexicana Pizza,1
...,...,...,...,...,...,...
4151,4152,1844,2015-01-31,S,The Spinach Supreme Pizza,5
4152,4153,1845,2015-01-31,L,The Italian Vegetables Pizza,5
4153,4154,1845,2015-01-31,L,The Pepper Salami Pizza,5
4154,4155,1845,2015-01-31,S,The Soppressata Pizza,5
4155,4156,1845,2015-01-31,M,The Vegetables + Vegetables Pizza,5

In [68]:
start_date = '2015-02-01'
end_date = '2015-02-28'

# Memfilter data berdasarkan rentang tanggal
Februari = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Februari

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
4156,4157,1846,2015-02-01,S,The Big Meat Pizza,5
4157,4158,1847,2015-02-01,M,The Classic Deluxe Pizza,5
4158,4159,1848,2015-02-01,L,The Classic Deluxe Pizza,5
4159,4160,1848,2015-02-01,M,The Italian Capocollo Pizza,5
4160,4161,1849,2015-02-01,L,The Five Cheese Pizza,5
...,...,...,...,...,...,...
8043,8044,3529,2015-02-28,L,The Italian Capocollo Pizza,9
8044,8045,3529,2015-02-28,M,The Pepper Salami Pizza,9
8045,8046,3530,2015-02-28,S,The Classic Deluxe Pizza,9
8046,8047,3530,2015-02-28,S,The Green Garden Pizza,9
8047,8048,3530,2015-02-28,M,The Vegetables + Vegetables Pizza,9

In [69]:
start_date = '2015-03-01'
end_date = '2015-03-31'

# Memfilter data berdasarkan rentang tanggal
Maret = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Maret

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
8048,8049,3531,2015-03-01,M,The Pepperoni Pizza,9
8049,8050,3532,2015-03-01,S,The Southwest Chicken Pizza,9
8050,8051,3533,2015-03-01,L,The Four Cheese Pizza,9
8051,8052,3533,2015-03-01,M,The Italian Supreme Pizza,9
8052,8053,3533,2015-03-01,L,The Vegetables + Vegetables Pizza,9
...,...,...,...,...,...,...
12229,12230,5369,2015-03-31,L,The Hawaiian Pizza,14
12230,12231,5369,2015-03-31,L,The Mexicana Pizza,14
12231,12232,5369,2015-03-31,S,The Sicilian Pizza,14
12232,12233,5369,2015-03-31,L,The Spicy Italian Pizza,14
12233,12234,5370,2015-03-31,M,The Spicy Italian Pizza,14

In [70]:
start_date = '2015-04-01'
end_date = '2015-04-30'

# Memfilter data berdasarkan rentang tanggal
April = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
April

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
12234,12235,5371,2015-04-01,M,The Sicilian Pizza,14
12235,12236,5371,2015-04-01,L,The Soppressata Pizza,14
12236,12237,5372,2015-04-01,M,The Pepperoni Pizza,14
12237,12238,5372,2015-04-01,S,The Greek Pizza,14
12238,12239,5373,2015-04-01,M,The Four Cheese Pizza,14
...,...,...,...,...,...,...
16296,16297,7167,2015-04-30,S,The Sicilian Pizza,18
16297,16298,7168,2015-04-30,L,The Five Cheese Pizza,18
16298,16299,7169,2015-04-30,S,The Green Garden Pizza,18
16299,16300,7169,2015-04-30,L,The Southwest Chicken Pizza,18
16300,16301,7169,2015-04-30,XL,The Greek Pizza,18

In [71]:
start_date = '2015-05-01'
end_date = '2015-05-31'

# Memfilter data berdasarkan rentang tanggal
Mei = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Mei

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
16301,16302,7170,2015-05-01,M,The Classic Deluxe Pizza,18
16302,16303,7171,2015-05-01,S,The Barbecue Chicken Pizza,18
16303,16304,7172,2015-05-01,S,The Barbecue Chicken Pizza,18
16304,16305,7173,2015-05-01,L,The Mexicana Pizza,18
16305,16306,7174,2015-05-01,M,The Calabrese Pizza,18
...,...,...,...,...,...,...
20535,20536,9019,2015-05-31,L,The Chicken Pesto Pizza,22
20536,20537,9020,2015-05-31,S,The Big Meat Pizza,22
20537,20538,9020,2015-05-31,L,The Mexicana Pizza,22
20538,20539,9021,2015-05-31,L,The Italian Supreme Pizza,22
20539,20540,9022,2015-05-31,L,The Italian Supreme Pizza,22

In [72]:
start_date = '2015-06-01'
end_date = '2015-06-30'

# Memfilter data berdasarkan rentang tanggal
Juni = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Juni

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
20540,20541,9023,2015-06-01,M,The Green Garden Pizza,23
20541,20542,9024,2015-06-01,M,The Vegetables + Vegetables Pizza,23
20542,20543,9025,2015-06-01,M,The Barbecue Chicken Pizza,23
20543,20544,9026,2015-06-01,S,The Barbecue Chicken Pizza,23
20544,20545,9026,2015-06-01,S,The Pepperoni Pizza,23
...,...,...,...,...,...,...
24560,24561,10794,2015-06-30,S,The Brie Carre Pizza,27
24561,24562,10794,2015-06-30,M,The Chicken Alfredo Pizza,27
24562,24563,10794,2015-06-30,M,The Prosciutto and Arugula Pizza,27
24563,24564,10794,2015-06-30,L,The Spicy Italian Pizza,27
24564,24565,10795,2015-06-30,L,The Soppressata Pizza,27

In [73]:
start_date = '2015-07-01'
end_date = '2015-07-31'

# Memfilter data berdasarkan rentang tanggal
Juli = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Juli

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
24565,24566,10796,2015-07-01,L,The Barbecue Chicken Pizza,27
24566,24567,10796,2015-07-01,M,The Hawaiian Pizza,27
24567,24568,10796,2015-07-01,L,The Italian Supreme Pizza,27
24568,24569,10796,2015-07-01,L,The Prosciutto and Arugula Pizza,27
24569,24570,10796,2015-07-01,S,The Spinach Pesto Pizza,27
...,...,...,...,...,...,...
28861,28862,12727,2015-07-31,S,The Spinach Supreme Pizza,31
28862,28863,12728,2015-07-31,S,The Napolitana Pizza,31
28863,28864,12729,2015-07-31,M,The Italian Supreme Pizza,31
28864,28865,12729,2015-07-31,S,The Pepperoni Pizza,31
28865,28866,12730,2015-07-31,S,The Spinach Supreme Pizza,31

In [74]:
start_date = '2015-08-01'
end_date = '2015-08-31'

# Memfilter data berdasarkan rentang tanggal
Agustus = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Agustus

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
28866,28867,12731,2015-08-01,M,The Barbecue Chicken Pizza,31
28867,28868,12731,2015-08-01,L,The Chicken Alfredo Pizza,31
28868,28869,12731,2015-08-01,S,The Sicilian Pizza,31
28869,28870,12731,2015-08-01,S,The Spicy Italian Pizza,31
28870,28871,12732,2015-08-01,S,"The Pepperoni, Mushroom, and Peppers Pizza",31
...,...,...,...,...,...,...
32955,32956,14569,2015-08-31,M,The Calabrese Pizza,36
32956,32957,14570,2015-08-31,M,The Calabrese Pizza,36
32957,32958,14570,2015-08-31,L,The Chicken Pesto Pizza,36
32958,32959,14570,2015-08-31,M,The Spinach Supreme Pizza,36
32959,32960,14571,2015-08-31,S,The Spinach Pesto Pizza,36

In [75]:
start_date = '2015-09-01'
end_date = '2015-09-30'

# Memfilter data berdasarkan rentang tanggal
September = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
September

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
32960,32961,14572,2015-09-01,L,The Italian Capocollo Pizza,36
32961,32962,14572,2015-09-01,L,The Thai Chicken Pizza,36
32962,32963,14573,2015-09-01,S,The Sicilian Pizza,36
32963,32964,14574,2015-09-01,L,The Barbecue Chicken Pizza,36
32964,32965,14574,2015-09-01,L,The Sicilian Pizza,36
...,...,...,...,...,...,...
36774,36775,16231,2015-09-30,S,The Sicilian Pizza,40
36775,36776,16231,2015-09-30,L,The Spinach Pesto Pizza,40
36776,36777,16231,2015-09-30,M,The Vegetables + Vegetables Pizza,40
36777,36778,16232,2015-09-30,M,The Calabrese Pizza,40
36778,36779,16232,2015-09-30,S,The Hawaiian Pizza,40

In [76]:
start_date = '2015-10-01'
end_date = '2015-10-31'

# Memfilter data berdasarkan rentang tanggal
Oktober = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Oktober

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
36779,36780,16233,2015-10-01,M,"The Pepperoni, Mushroom, and Peppers Pizza",40
36780,36781,16233,2015-10-01,XL,The Greek Pizza,40
36781,36782,16234,2015-10-01,L,The Spinach and Feta Pizza,40
36782,36783,16234,2015-10-01,S,The Thai Chicken Pizza,40
36783,36784,16235,2015-10-01,M,The Italian Supreme Pizza,40
...,...,...,...,...,...,...
40571,40572,17876,2015-10-31,L,The Mexicana Pizza,44
40572,40573,17876,2015-10-31,S,The Spinach Supreme Pizza,44
40573,40574,17877,2015-10-31,S,The Thai Chicken Pizza,44
40574,40575,17878,2015-10-31,M,The Italian Supreme Pizza,44
40575,40576,17878,2015-10-31,M,The Southwest Chicken Pizza,44

In [77]:
start_date = '2015-11-01'
end_date = '2015-11-30'

# Memfilter data berdasarkan rentang tanggal
November = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
November

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
40576,40577,17879,2015-11-01,M,The Chicken Alfredo Pizza,44
40577,40578,17880,2015-11-01,S,The Big Meat Pizza,44
40578,40579,17880,2015-11-01,L,The California Chicken Pizza,44
40579,40580,17880,2015-11-01,M,The California Chicken Pizza,44
40580,40581,17880,2015-11-01,S,The Green Garden Pizza,44
...,...,...,...,...,...,...
44756,44757,19668,2015-11-30,L,The Southwest Chicken Pizza,49
44757,44758,19669,2015-11-30,M,The Classic Deluxe Pizza,49
44758,44759,19670,2015-11-30,M,The Barbecue Chicken Pizza,49
44759,44760,19670,2015-11-30,S,The Big Meat Pizza,49
44760,44761,19670,2015-11-30,S,The Southwest Chicken Pizza,49

In [78]:
start_date = '2015-12-01'
end_date = '2015-12-30'

# Memfilter data berdasarkan rentang tanggal
Desember = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Desember

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
44761,44762,19671,2015-12-01,M,The Four Cheese Pizza,49
44762,44763,19671,2015-12-01,S,The Mediterranean Pizza,49
44763,44764,19672,2015-12-01,S,The Prosciutto and Arugula Pizza,49
44764,44765,19673,2015-12-01,M,The Chicken Pesto Pizza,49
44765,44766,19674,2015-12-01,L,The Five Cheese Pizza,49
...,...,...,...,...,...,...
48444,48445,21274,2015-12-30,M,The Southwest Chicken Pizza,53
48445,48446,21275,2015-12-30,L,The Barbecue Chicken Pizza,53
48446,48447,21275,2015-12-30,S,The Italian Vegetables Pizza,53
48447,48448,21276,2015-12-30,M,The Spicy Italian Pizza,53
48448,48449,21277,2015-12-30,L,The Pepperoni Pizza,53

In [79]:
unique_counts1 = Januari['pizza_name'].value_counts().head(3)
unique_counts1

pizza_name
The Pepperoni Pizza             235
The Barbecue Chicken Pizza      206
The California Chicken Pizza    197
Name: count, dtype: int64

In [80]:
unique_counts2 = Februari['pizza_name'].value_counts().head(3)
unique_counts2

pizza_name
The Pepperoni Pizza             201
The California Chicken Pizza    200
The Hawaiian Pizza              194
Name: count, dtype: int64

In [81]:
unique_counts3 = Maret['pizza_name'].value_counts().head(3)
unique_counts3

pizza_name
The Barbecue Chicken Pizza    229
The Hawaiian Pizza            212
The Thai Chicken Pizza        210
Name: count, dtype: int64

In [82]:
unique_counts4 = April['pizza_name'].value_counts().head(3)
unique_counts4

pizza_name
The Classic Deluxe Pizza      214
The Hawaiian Pizza            213
The Barbecue Chicken Pizza    208
Name: count, dtype: int64

In [83]:
unique_counts5 = Mei['pizza_name'].value_counts().head(3)
unique_counts5

pizza_name
The Pepperoni Pizza           238
The Barbecue Chicken Pizza    220
The Classic Deluxe Pizza      215
Name: count, dtype: int64

In [84]:
unique_counts6 = Juni['pizza_name'].value_counts().head(3)
unique_counts6

pizza_name
The California Chicken Pizza    216
The Classic Deluxe Pizza        193
The Barbecue Chicken Pizza      188
Name: count, dtype: int64

In [85]:
unique_counts7 = Juli['pizza_name'].value_counts().head(3)
unique_counts7

pizza_name
The Pepperoni Pizza           223
The Classic Deluxe Pizza      222
The Barbecue Chicken Pizza    217
Name: count, dtype: int64

In [86]:
unique_counts8 = Agustus['pizza_name'].value_counts().head(3)
unique_counts8

pizza_name
The California Chicken Pizza    225
The Pepperoni Pizza             209
The Classic Deluxe Pizza        205
Name: count, dtype: int64

In [87]:
unique_counts9 = September['pizza_name'].value_counts().head(3)
unique_counts9

pizza_name
The Classic Deluxe Pizza    201
The Thai Chicken Pizza      199
The Hawaiian Pizza          195
Name: count, dtype: int64

In [88]:
unique_counts10 = Oktober['pizza_name'].value_counts().head(3)
unique_counts10

pizza_name
The Classic Deluxe Pizza    193
The Pepperoni Pizza         191
The Thai Chicken Pizza      186
Name: count, dtype: int64

In [89]:
unique_counts11 = November['pizza_name'].value_counts().head(3)
unique_counts11

pizza_name
The Hawaiian Pizza            219
The Classic Deluxe Pizza      217
The Barbecue Chicken Pizza    211
Name: count, dtype: int64

In [90]:
unique_counts12 = Desember['pizza_name'].value_counts().head(3)
unique_counts12

pizza_name
The Hawaiian Pizza              202
The Thai Chicken Pizza          198
The California Chicken Pizza    194
Name: count, dtype: int64

## gak kepake

In [91]:
len(Mei['pizza_name'].unique())

32

In [92]:
Mei.columns

Index(['order_details_id', 'order_id', 'order_date', 'pizza_size',
       'pizza_name', 'week_number'],
      dtype='object')

In [93]:
result = PilihKolom.groupby('order_id').agg({
    'pizza_size': '; '.join,  # Menggabungkan nama pizza
    # 'pizza_size': ', '.join   # Menggabungkan ukuran pizza 
}).reset_index()

result

       order_id     pizza_size
0             1              M
1             2  M; L; L; M; L
2             3           M; L
3             4              M
4             5              M
...         ...            ...
21345     21346     S; M; S; L
21346     21347     M; M; S; L
21347     21348        M; L; S
21348     21349              L
21349     21350              S

[21350 rows x 2 columns]

In [94]:
# result['pizza_full_name'] = result['pizza_full_name'].apply(lambda x: str(x))

In [95]:
sampled_data = result.sample(n=20, random_state=42)
print(sampled_data)

       order_id     pizza_size
19269     19270              L
4634       4635           S; S
5412       5413              S
812         813           S; L
19801     19802              L
12542     12543           M; M
6491       6492              M
1215       1216              M
18559     18560              M
2812       2813   S; L; L; XXL
5800       5801              M
12393     12394        M; L; L
13101     13102              L
13177     13178        L; S; S
19271     19272     S; M; M; L
21244     21245              L
640         641     M; L; M; S
6206       6207  S; M; S; L; M
4160       4161        M; L; M
13777     13778              S

In [96]:
sampled_data.to_excel('samplingPizzaSIZE.xlsx', index=False)  # index=False untuk tidak menyimpan indeks

In [97]:
transactions = sampled_data['pizza_full_name']

KeyError: 'pizza_full_name'

In [ ]:
transactions

19269                          The Chicken Pesto Pizza (L)
4634     The Big Meat Pizza (S); The Classic Deluxe Piz...
5412                              The Napolitana Pizza (S)
812      The California Chicken Pizza (S); The Southwes...
19801                            The Four Cheese Pizza (L)
12542    The Classic Deluxe Pizza (M); The Southwest Ch...
6491                        The Barbecue Chicken Pizza (M)
1215                        The Barbecue Chicken Pizza (M)
18559                      The Italian Capocollo Pizza (M)
2812     The Italian Supreme Pizza (S); The Mediterrane...
5800                          The Classic Deluxe Pizza (M)
12393    The Chicken Alfredo Pizza (M); The Hawaiian Pi...
13101                          The Pepper Salami Pizza (L)
13177    The Classic Deluxe Pizza (L); The Italian Supr...
19271    The Classic Deluxe Pizza (S); The Hawaiian Piz...
21244                            The Four Cheese Pizza (L)
640      The Pepperoni Pizza (M); The Southwest Chicken...
6206     The Big Meat Pizza (S); The Classic Deluxe Piz...
4160     The California Chicken Pizza (M); The Five Che...
13777                            The Soppressata Pizza (S)
Name: pizza_full_name, dtype: object

In [ ]:
sampled_data['pizza_full_name'].unique()

array(['The Chicken Pesto Pizza (L)',
       'The Big Meat Pizza (S); The Classic Deluxe Pizza (S)',
       'The Napolitana Pizza (S)',
       'The California Chicken Pizza (S); The Southwest Chicken Pizza (L)',
       'The Four Cheese Pizza (L)',
       'The Classic Deluxe Pizza (M); The Southwest Chicken Pizza (M)',
       'The Barbecue Chicken Pizza (M)',
       'The Italian Capocollo Pizza (M)',
       'The Italian Supreme Pizza (S); The Mediterranean Pizza (L); The Greek Pizza (L); The Greek Pizza (XXL)',
       'The Classic Deluxe Pizza (M)',
       'The Chicken Alfredo Pizza (M); The Hawaiian Pizza (L); The Southwest Chicken Pizza (L)',
       'The Pepper Salami Pizza (L)',
       'The Classic Deluxe Pizza (L); The Italian Supreme Pizza (S); The Southwest Chicken Pizza (S)',
       'The Classic Deluxe Pizza (S); The Hawaiian Pizza (M); The Mediterranean Pizza (M); The Napolitana Pizza (L)',
       'The Pepperoni Pizza (M); The Southwest Chicken Pizza (L); The Spinach Pesto Pizza (M); The Spinach and Feta Pizza (S)',
       'The Big Meat Pizza (S); The Classic Deluxe Pizza (M); The Green Garden Pizza (S); The Southwest Chicken Pizza (L); The Thai Chicken Pizza (M)',
       'The California Chicken Pizza (M); The Five Cheese Pizza (L); The Spinach Pesto Pizza (M)',
       'The Soppressata Pizza (S)'], dtype=object)

In [ ]:
from itertools import combinations

In [ ]:
# Fungsi untuk menghitung support
def calculate_support(itemset, transactions):
    count = 0
    for transaction in transactions:
        if all(item in transaction for item in itemset):
            count += 1
    return count / len(transactions)

In [ ]:
# Fungsi untuk menemukan frequent itemsets
def find_frequent_itemsets(transactions, min_support):
    itemsets = []
    items = {item for transaction in transactions for item in transaction}
    
    # Iterasi level itemsets
    k = 1
    while True:
        if k == 1:
            # Itemsets tunggal
            candidates = [{item} for item in items]
        else:
            # Gabungkan frequent itemsets sebelumnya
            candidates = [
                set(i).union(set(j)) for i in itemsets for j in itemsets
                if len(set(i).union(set(j))) == k
            ]
            # Hapus duplikat
            candidates = list(set(frozenset(c) for c in candidates))
        
        # Hitung support kandidat
        frequent_itemsets = []
        for candidate in candidates:
            support = calculate_support(candidate, transactions)
            if support >= min_support:
                frequent_itemsets.append(candidate)
                print(f"Frequent Itemset: {candidate}, Support: {support:.2f}")
        
        # Hentikan jika tidak ada frequent itemsets
        if not frequent_itemsets:
            break
        
        # Simpan frequent itemsets
        itemsets = frequent_itemsets
        k += 1
    
    return itemsets

In [ ]:
# Fungsi untuk menghasilkan aturan asosiasi
def generate_association_rules(frequent_itemsets, transactions, min_confidence):
    rules = []
    for itemset in frequent_itemsets:
        for i in range(1, len(itemset)):
            for antecedent in combinations(itemset, i):
                antecedent = set(antecedent)
                consequent = itemset - antecedent
                if consequent:
                    # Hitung confidence
                    support_itemset = calculate_support(itemset, transactions)
                    support_antecedent = calculate_support(antecedent, transactions)
                    confidence = support_itemset / support_antecedent
                    if confidence >= min_confidence:
                        rules.append((antecedent, consequent, confidence))
                        print(f"Rule: {antecedent} -> {consequent}, Confidence: {confidence:.2f}")
    return rules

In [ ]:
# # Parameter
# min_support = 0.5
# min_confidence = 0.7

# # Jalankan Apriori
# print("Step 1: Frequent Itemsets")
# frequent_itemsets = find_frequent_itemsets(transactions, min_support)

# print("\nStep 2: Association Rules")
# rules = generate_association_rules(frequent_itemsets, transactions, min_confidence)