In [3]:
#membaca dataset heart_failure_clinical_records_dataset
import pandas as pd
Datanya_50= pd.read_csv('pizza_sales.csv')
Datanya_50

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616.0,21348.0,ckn_alfredo_m,1.0,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617.0,21348.0,four_cheese_l,1.0,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618.0,21348.0,napolitana_s,1.0,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619.0,21349.0,mexicana_l,1.0,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620.0,21350.0,bbq_ckn_s,1.0,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [4]:
Datanya_50['order_date'] = Datanya_50['order_date'].str.replace('/', '-')

In [5]:
Datanya_50['order_date'] = pd.to_datetime(Datanya_50['order_date'], format='%d-%m-%Y')

In [8]:
PilihKolom = Datanya_50[['order_id', 'order_date','pizza_size', 'pizza_name']]
PilihKolom

       order_id order_date pizza_size                  pizza_name
0           1.0 2015-01-01          M          The Hawaiian Pizza
1           2.0 2015-01-01          M    The Classic Deluxe Pizza
2           2.0 2015-01-01          L       The Five Cheese Pizza
3           2.0 2015-01-01          L   The Italian Supreme Pizza
4           2.0 2015-01-01          M          The Mexicana Pizza
...         ...        ...        ...                         ...
48615   21348.0 2015-12-31          M   The Chicken Alfredo Pizza
48616   21348.0 2015-12-31          L       The Four Cheese Pizza
48617   21348.0 2015-12-31          S        The Napolitana Pizza
48618   21349.0 2015-12-31          L          The Mexicana Pizza
48619   21350.0 2015-12-31          S  The Barbecue Chicken Pizza

[48620 rows x 4 columns]

In [9]:
PilihKolom[14200:16300]

,order_id,order_date,pizza_size,pizza_name
14200,6211.0,2015-04-15,S,"The Pepperoni, Mushroom, and Peppers Pizza"
14201,6212.0,2015-04-15,L,The Barbecue Chicken Pizza
14202,6213.0,2015-04-15,L,The Italian Capocollo Pizza
14203,6213.0,2015-04-15,L,The Vegetables + Vegetables Pizza
14204,6214.0,2015-04-15,S,The Classic Deluxe Pizza
...,...,...,...,...
16295,7167.0,2015-04-30,S,The Hawaiian Pizza
16296,7167.0,2015-04-30,S,The Sicilian Pizza
16297,7168.0,2015-04-30,L,The Five Cheese Pizza
16298,7169.0,2015-04-30,S,The Green Garden Pizza
16299,7169.0,2015-04-30,L,The Southwest Chicken Pizza

In [ ]:
# Tambahkan kolom 'week_number' berdasarkan minggu dari tanggal
PilihKolom['week_number'] = PilihKolom['order_date'].dt.isocalendar().week

C:\Users\User\AppData\Local\Temp\ipykernel_20408\824588110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PilihKolom['order_date'] = pd.to_datetime(PilihKolom['order_date'])
C:\Users\User\AppData\Local\Temp\ipykernel_20408\824588110.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PilihKolom['week_number'] = PilihKolom['order_date'].dt.isocalendar().week

In [63]:
# Kelompokkan berdasarkan minggu
grouped = PilihKolom.groupby('week_number')

# Pisahkan DataFrame untuk setiap minggu
weekly_dataframes = {week: group for week, group in grouped}

# Simpan setiap minggu ke file CSV (opsional) dan tampilkan hasil
for week, df in weekly_dataframes.items():
    print(f"Data untuk Minggu ke-{week}:")
    print(df)
    print("\n")

    # Opsional: Simpan ke file CSV
    # df.to_csv(f"week_{week}.csv", index=False)

Data untuk Minggu ke-1:
     order_details_id  order_id order_date pizza_size  \
0                   1         1 2015-01-01          M
1                   2         2 2015-01-01          M
2                   3         2 2015-01-01          L
3                   4         2 2015-01-01          L
4                   5         2 2015-01-01          M
..                ...       ...        ...        ...
576               577       252 2015-01-04          M
577               578       253 2015-01-04          S
578               579       254 2015-01-04          L
579               580       254 2015-01-04          S
580               581       254 2015-01-04          L

                           pizza_name  week_number
0                  The Hawaiian Pizza            1
1            The Classic Deluxe Pizza            1
2               The Five Cheese Pizza            1
3           The Italian Supreme Pizza            1
4                  The Mexicana Pizza            1
..                                ...          ...
576  The Prosciutto and Arugula Pizza            1
577              The Brie Carre Pizza            1
578        The Barbecue Chicken Pizza            1
579              The Brie Carre Pizza            1
580             The Five Cheese Pizza            1

[581 rows x 6 columns]


Data untuk Minggu ke-2:
      order_details_id  order_id order_date pizza_size  \
581                582       255 2015-01-05          L
582                583       255 2015-01-05          M
583                584       255 2015-01-05          L
584                585       255 2015-01-05          M
585                586       256 2015-01-05          L
...                ...       ...        ...        ...
1527              1528       679 2015-01-11          L
1528              1529       679 2015-01-11          L
1529              1530       680 2015-01-11          S
1530              1531       680 2015-01-11          M
1531              1532       681 2015-01-11          L

                                      pizza_name  week_number
581                        The Five Cheese Pizza            2
582                       The Green Garden Pizza            2
583                           The Hawaiian Pizza            2
584                   The Spinach and Feta Pizza            2
585   The Pepperoni, Mushroom, and Peppers Pizza            2
...                                          ...          ...
1527                   The Italian Supreme Pizza            2
1528                     The Mediterranean Pizza            2
1529                     The Chicken Pesto Pizza            2
1530                          The Sicilian Pizza            2
1531                     The Pepper Salami Pizza            2

[951 rows x 6 columns]


Data untuk Minggu ke-3:
      order_details_id  order_id order_date pizza_size  \
1532              1533       682 2015-01-12          L
1533              1534       683 2015-01-12          L
1534              1535       683 2015-01-12          S
1535              1536       683 2015-01-12          M
1536              1537       684 2015-01-12          L
...                ...       ...        ...        ...
2425              2426      1080 2015-01-18          M
2426              2427      1080 2015-01-18          L
2427              2428      1080 2015-01-18          S
2428              2429      1080 2015-01-18          M
2429              2430      1081 2015-01-18          L

                        pizza_name  week_number
1532     The Italian Supreme Pizza            3
1533       The Chicken Pesto Pizza            3
1534  The Italian Vegetables Pizza            3
1535       The Pepper Salami Pizza            3
1536         The Four Cheese Pizza            3
...                            ...          ...
2425  The Italian Vegetables Pizza            3
2426            The Sicilian Pizza            3
2427         The Soppressata Pizza            3
2428       The Spicy Italian Pizza            3
2429         The Five Cheese Pizza            3

[898 rows x 6 columns]


Data untuk Minggu ke-4:
      order_details_id  order_id order_date pizza_size  \
2430              2431      1082 2015-01-19          L
2431              2432      1082 2015-01-19          L
2432              2433      1083 2015-01-19          L
2433              2434      1084 2015-01-19          S
2434              2435      1085 2015-01-19          S
...                ...       ...        ...        ...
3377              3378      1494 2015-01-25          L
3378              3379      1495 2015-01-25          S
3379              3380      1495 2015-01-25          S
3380              3381      1495 2015-01-25          S
3381              3382      1496 2015-01-25          L

                             pizza_name  week_number
2430            The Pepper Salami Pizza            4
2431             The Thai Chicken Pizza            4
2432        The Southwest Chicken Pizza            4
2433                 The Big Meat Pizza            4
2434                 The Hawaiian Pizza            4
...                                 ...          ...
3377  The Vegetables + Vegetables Pizza            4
3378                 The Mexicana Pizza            4
3379            The Spicy Italian Pizza            4
3380            The Spinach Pesto Pizza            4
3381               The Napolitana Pizza            4

[952 rows x 6 columns]


Data untuk Minggu ke-5:
      order_details_id  order_id order_date pizza_size  \
3382              3383      1497 2015-01-26          S
3383              3384      1497 2015-01-26          L
3384              3385      1497 2015-01-26          M
3385              3386      1498 2015-01-26          L
3386              3387      1499 2015-01-26          L
...                ...       ...        ...        ...
4339              4340      1930 2015-02-01          M
4340              4341      1931 2015-02-01          S
4341              4342      1931 2015-02-01          M
4342              4343      1932 2015-02-01          L
4343              4344      1932 2015-02-01          M

                        pizza_name  week_number
3382            The Big Meat Pizza            5
3383           The Calabrese Pizza            5
3384     The Italian Supreme Pizza            5
3385        The Thai Chicken Pizza            5
3386            The Hawaiian Pizza            5
...                            ...          ...
4339           The Calabrese Pizza            5
4340            The Big Meat Pizza            5
4341   The Southwest Chicken Pizza            5
4342  The California Chicken Pizza            5
4343        The Thai Chicken Pizza            5

[962 rows x 6 columns]


Data untuk Minggu ke-6:
      order_details_id  order_id order_date pizza_size  \
4344              4345      1933 2015-02-02          M
4345              4346      1933 2015-02-02          M
4346              4347      1933 2015-02-02          L
4347              4348      1933 2015-02-02          M
4348              4349      1934 2015-02-02          M
...                ...       ...        ...        ...
5311              5312      2353 2015-02-08          S
5312              5313      2354 2015-02-08          S
5313              5314      2354 2015-02-08          M
5314              5315      2354 2015-02-08          L
5315              5316      2354 2015-02-08          L

                             pizza_name  week_number
4344       The California Chicken Pizza            6
4345       The Italian Vegetables Pizza            6
4346             The Thai Chicken Pizza            6
4347             The Thai Chicken Pizza            6
4348       The California Chicken Pizza            6
...                                 ...          ...
5311             The Thai Chicken Pizza            6
5312                 The Mexicana Pizza            6
5313   The Prosciutto and Arugula Pizza            6
5314          The Spinach Supreme Pizza            6
5315  The Vegetables + Vegetables Pizza            6

[972 rows x 6 columns]


Data untuk Minggu ke-7:
      order_details_id  order_id order_date pizza_size  \
5316              5317      2355 2015-02-09          M
5317              5318      2356 2015-02-09          S
5318              5319      2357 2015-02-09         XL
5319              5320      2358 2015-02-09          M
5320              5321      2358 2015-02-09          M
...                ...       ...        ...        ...
6271              6272      2775 2015-02-15          M
6272              6273      2776 2015-02-15          M
6273              6274      2776 2015-02-15         XL
6274              6275      2776 2015-02-15          M
6275              6276      2777 2015-02-15          S

                             pizza_name  week_number
5316                 The Mexicana Pizza            7
5317                    The Greek Pizza            7
5318                    The Greek Pizza            7
5319       The California Chicken Pizza            7
5320          The Italian Supreme Pizza            7
...                                 ...          ...
6271           The Classic Deluxe Pizza            7
6272          The Chicken Alfredo Pizza            7
6273                    The Greek Pizza            7
6274  The Vegetables + Vegetables Pizza            7
6275       The Italian Vegetables Pizza            7

[960 rows x 6 columns]


Data untuk Minggu ke-8:
      order_details_id  order_id order_date pizza_size  \
6276              6277      2778 2015-02-16          S
6277              6278      2779 2015-02-16          M
6278              6279      2779 2015-02-16          L
6279              6280      2780 2015-02-16          L
6280              6281      2781 2015-02-16          S
...                ...       ...        ...        ...
7185              7186      3169 2015-02-22          S
7186              7187      3169 2015-02-22          S
7187              7188      3170 2015-02-22          L
7188              7189      3170 2015-02-22          M
7189              7190      3170 2015-02-22          S

                      pizza_name  week_number
6276      The Green Garden Pizza            8
6277    The Classic Deluxe Pizza            8
6278       The Four Cheese Pizza            8
6279     The Mediterranean Pizza            8
6280          The Big Meat Pizza            8
...                          ...          ...
7185          The Hawaiian Pizza            8
7186  The Spinach and Feta Pizza            8
7187    The Classic Deluxe Pizza            8
7188     The Spinach Pesto Pizza            8
7189      The Thai Chicken Pizza            8

[914 rows x 6 columns]


Data untuk Minggu ke-9:
      order_details_id  order_id order_date pizza_size  \
7190              7191      3171 2015-02-23          L
7191              7192      3172 2015-02-23          L
7192              7193      3172 2015-02-23          S
7193              7194      3173 2015-02-23          S
7194              7195      3173 2015-02-23          M
...                ...       ...        ...        ...
8142              8143      3576 2015-03-01          S
8143              8144      3577 2015-03-01          L
8144              8145      3578 2015-03-01          M
8145              8146      3579 2015-03-01          S
8146              8147      3579 2015-03-01          S

                        pizza_name  week_number
7190         The Soppressata Pizza            9
7191    The Barbecue Chicken Pizza            9
7192      The Classic Deluxe Pizza            9
7193  The California Chicken Pizza            9
7194          The Napolitana Pizza            9
...                            ...          ...
8142        The Thai Chicken Pizza            9
8143   The Southwest Chicken Pizza            9
8144  The California Chicken Pizza            9
8145            The Big Meat Pizza            9
8146      The Classic Deluxe Pizza            9

[957 rows x 6 columns]


Data untuk Minggu ke-10:
      order_details_id  order_id order_date pizza_size  \
8147              8148      3580 2015-03-02          S
8148              8149      3581 2015-03-02          M
8149              8150      3582 2015-03-02          M
8150              8151      3582 2015-03-02          M
8151              8152      3583 2015-03-02          S
...                ...       ...        ...        ...
9113              9114      3997 2015-03-08          L
9114              9115      3998 2015-03-08          M
9115              9116      3999 2015-03-08          M
9116              9117      3999 2015-03-08          M
9117              9118      3999 2015-03-08          S

                                      pizza_name  week_number
8147  The Pepperoni, Mushroom, and Peppers Pizza           10
8148                   The Chicken Alfredo Pizza           10
8149            The Prosciutto and Arugula Pizza           10
8150                     The Spicy Italian Pizza           10
8151                  The Barbecue Chicken Pizza           10
...                                          ...          ...
9113                     The Chicken Pesto Pizza           10
9114                      The Thai Chicken Pizza           10
9115                   The Chicken Alfredo Pizza           10
9116                    The Classic Deluxe Pizza           10
9117                     The Mediterranean Pizza           10

[971 rows x 6 columns]


Data untuk Minggu ke-11:
       order_details_id  order_id order_date pizza_size  \
9118               9119      4000 2015-03-09          L
9119               9120      4000 2015-03-09          L
9120               9121      4000 2015-03-09          L
9121               9122      4000 2015-03-09          L
9122               9123      4001 2015-03-09          S
...                 ...       ...        ...        ...
10057             10058      4401 2015-03-15          L
10058             10059      4401 2015-03-15          M
10059             10060      4402 2015-03-15          M
10060             10061      4403 2015-03-15          S
10061             10062      4403 2015-03-15          S

                       pizza_name  week_number
9118   The Barbecue Chicken Pizza           11
9119       The Green Garden Pizza           11
9120        The Soppressata Pizza           11
9121       The Thai Chicken Pizza           11
9122      The Mediterranean Pizza           11
...                           ...          ...
10057      The Thai Chicken Pizza           11
10058      The Thai Chicken Pizza           11
10059          The Hawaiian Pizza           11
10060    The Classic Deluxe Pizza           11
10061          The Hawaiian Pizza           11

[944 rows x 6 columns]


Data untuk Minggu ke-12:
       order_details_id  order_id order_date pizza_size  \
10062             10063      4404 2015-03-16          S
10063             10064      4404 2015-03-16          L
10064             10065      4405 2015-03-16          S
10065             10066      4405 2015-03-16          S
10066             10067      4406 2015-03-16          L
...                 ...       ...        ...        ...
10993             10994      4817 2015-03-22          M
10994             10995      4817 2015-03-22          M
10995             10996      4818 2015-03-22          S
10996             10997      4819 2015-03-22          L
10997             10998      4819 2015-03-22          L

                             pizza_name  week_number
10062              The Napolitana Pizza           12
10063           The Spicy Italian Pizza           12
10064                The Big Meat Pizza           12
10065       The Italian Capocollo Pizza           12
10066           The Pepper Salami Pizza           12
...                                 ...          ...
10993           The Chicken Pesto Pizza           12
10994           The Mediterranean Pizza           12
10995  The Prosciutto and Arugula Pizza           12
10996        The Spinach and Feta Pizza           12
10997            The Thai Chicken Pizza           12

[936 rows x 6 columns]


Data untuk Minggu ke-13:
       order_details_id  order_id order_date pizza_size  \
10998             10999      4820 2015-03-23          L
10999             11000      4821 2015-03-23          S
11000             11001      4821 2015-03-23          M
11001             11002      4821 2015-03-23          S
11002             11003      4822 2015-03-23          L
...                 ...       ...        ...        ...
11937             11938      5244 2015-03-29          L
11938             11939      5244 2015-03-29          L
11939             11940      5244 2015-03-29          M
11940             11941      5245 2015-03-29          M
11941             11942      5246 2015-03-29          S

                             pizza_name  week_number
10998                The Mexicana Pizza           13
10999                The Hawaiian Pizza           13
11000               The Pepperoni Pizza           13
11001         The Spinach Supreme Pizza           13
11002          The Classic Deluxe Pizza           13
...                                 ...          ...
11937        The Barbecue Chicken Pizza           13
11938             The Five Cheese Pizza           13
11939       The Italian Capocollo Pizza           13
11940  The Prosciutto and Arugula Pizza           13
11941               The Pepperoni Pizza           13

[944 rows x 6 columns]


Data untuk Minggu ke-14:
       order_details_id  order_id order_date pizza_size  \
11942             11943      5247 2015-03-30          M
11943             11944      5247 2015-03-30          L
11944             11945      5247 2015-03-30          S
11945             11946      5248 2015-03-30          L
11946             11947      5248 2015-03-30          S
...                 ...       ...        ...        ...
12938             12939      5677 2015-04-05          M
12939             12940      5677 2015-04-05          S
12940             12941      5677 2015-04-05          L
12941             12942      5678 2015-04-05          S
12942             12943      5679 2015-04-05          L

                                       pizza_name  week_number
11942                The California Chicken Pizza           14
11943                   The Chicken Alfredo Pizza           14
11944                     The Chicken Pesto Pizza           14
11945                  The Barbecue Chicken Pizza           14
11946                      The Green Garden Pizza           14
...                                           ...          ...
12938                The Italian Vegetables Pizza           14
12939  The Pepperoni, Mushroom, and Peppers Pizza           14
12940                 The Southwest Chicken Pizza           14
12941                   The Spinach Supreme Pizza           14
12942           The Vegetables + Vegetables Pizza           14

[1001 rows x 6 columns]


Data untuk Minggu ke-15:
       order_details_id  order_id order_date pizza_size  \
12943             12944      5680 2015-04-06          S
12944             12945      5680 2015-04-06          L
12945             12946      5681 2015-04-06          L
12946             12947      5682 2015-04-06          L
12947             12948      5683 2015-04-06          L
...                 ...       ...        ...        ...
13887             13888      6086 2015-04-12          M
13888             13889      6087 2015-04-12          L
13889             13890      6087 2015-04-12          L
13890             13891      6087 2015-04-12          S
13891             13892      6087 2015-04-12          M

                      pizza_name  week_number
12943   The Classic Deluxe Pizza           15
12944      The Soppressata Pizza           15
12945      The Five Cheese Pizza           15
12946     The Thai Chicken Pizza           15
12947  The Italian Supreme Pizza           15
...                          ...          ...
13887   The Classic Deluxe Pizza           15

In [64]:
weekly_dataframes[1]

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
0,1,1,2015-01-01,M,The Hawaiian Pizza,1
1,2,2,2015-01-01,M,The Classic Deluxe Pizza,1
2,3,2,2015-01-01,L,The Five Cheese Pizza,1
3,4,2,2015-01-01,L,The Italian Supreme Pizza,1
4,5,2,2015-01-01,M,The Mexicana Pizza,1
...,...,...,...,...,...,...
576,577,252,2015-01-04,M,The Prosciutto and Arugula Pizza,1
577,578,253,2015-01-04,S,The Brie Carre Pizza,1
578,579,254,2015-01-04,L,The Barbecue Chicken Pizza,1
579,580,254,2015-01-04,S,The Brie Carre Pizza,1
580,581,254,2015-01-04,L,The Five Cheese Pizza,1

In [104]:
minggu1 = weekly_dataframes[1]['pizza_name'].value_counts().head(3)
minggu1

pizza_name
The Barbecue Chicken Pizza    35
The Italian Supreme Pizza     32
The Thai Chicken Pizza        32
Name: count, dtype: int64

In [105]:
minggu2 = weekly_dataframes[2]['pizza_name'].value_counts().head(3)
minggu2

pizza_name
The Pepperoni Pizza         60
The Classic Deluxe Pizza    50
The Hawaiian Pizza          44
Name: count, dtype: int64

In [113]:
# Perulangan untuk mendapatkan 3 pizza terlaris tiap minggu
top_pizzas_per_week = {}
for week in range(1, 54):  # Loop dari minggu ke-1 hingga ke-53
    if week in weekly_dataframes:  # Pastikan minggu tersebut ada di data
        top_pizzas = weekly_dataframes[week]['pizza_name'].value_counts().tail(3)
        top_pizzas_per_week[week] = top_pizzas

# Tampilkan hasil
for week, top_pizzas in top_pizzas_per_week.items():
    print(f"Top 3 pizza minggu ke-{week}:")
    print(top_pizzas)
    print("\n")

Top 3 pizza minggu ke-1:
pizza_name
The Mediterranean Pizza    6
The Calabrese Pizza        4
The Brie Carre Pizza       3
Name: count, dtype: int64


Top 3 pizza minggu ke-2:
pizza_name
The Pepperoni, Mushroom, and Peppers Pizza    18
The Spinach Pesto Pizza                       14
The Brie Carre Pizza                           8
Name: count, dtype: int64


Top 3 pizza minggu ke-3:
pizza_name
The Mediterranean Pizza      12
The Chicken Alfredo Pizza    12
The Brie Carre Pizza          4
Name: count, dtype: int64


Top 3 pizza minggu ke-4:
pizza_name
The Green Garden Pizza    14
The Calabrese Pizza       14
The Brie Carre Pizza      11
Name: count, dtype: int64


Top 3 pizza minggu ke-5:
pizza_name
The Green Garden Pizza     13
The Brie Carre Pizza       11
The Mediterranean Pizza    11
Name: count, dtype: int64


Top 3 pizza minggu ke-6:
pizza_name
The Green Garden Pizza     15
The Brie Carre Pizza       15
The Mediterranean Pizza    14
Name: count, dtype: int64


Top 3 pizza minggu ke-7:
pizza_name
The Spinach Supreme Pizza    13
The Brie Carre Pizza         12
The Mediterranean Pizza      11
Name: count, dtype: int64


Top 3 pizza minggu ke-8:
pizza_name
The Spinach Supreme Pizza    14
The Chicken Alfredo Pizza    14
The Brie Carre Pizza          9
Name: count, dtype: int64


Top 3 pizza minggu ke-9:
pizza_name
The Spinach Pesto Pizza      16
The Chicken Alfredo Pizza    15
The Brie Carre Pizza          6
Name: count, dtype: int64


Top 3 pizza minggu ke-10:
pizza_name
The Greek Pizza            15
The Chicken Pesto Pizza    13
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-11:
pizza_name
The Soppressata Pizza      15
The Mediterranean Pizza    13
The Brie Carre Pizza       13
Name: count, dtype: int64


Top 3 pizza minggu ke-12:
pizza_name
The Mediterranean Pizza    15
The Calabrese Pizza        11
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-13:
pizza_name
The Spinach Supreme Pizza    14
The Calabrese Pizza          11
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-14:
pizza_name
The Chicken Pesto Pizza    16
The Spinach Pesto Pizza    12
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-15:
pizza_name
The Chicken Pesto Pizza    18
The Spinach Pesto Pizza    10
The Brie Carre Pizza        4
Name: count, dtype: int64


Top 3 pizza minggu ke-16:
pizza_name
The Chicken Pesto Pizza      16
The Chicken Alfredo Pizza    12
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-17:
pizza_name
The Spinach Pesto Pizza      14
The Chicken Alfredo Pizza    13
The Brie Carre Pizza          7
Name: count, dtype: int64


Top 3 pizza minggu ke-18:
pizza_name
The Mediterranean Pizza    15
The Soppressata Pizza      11
The Brie Carre Pizza       10
Name: count, dtype: int64


Top 3 pizza minggu ke-19:
pizza_name
The Green Garden Pizza     17
The Chicken Pesto Pizza    11
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-20:
pizza_name
The Chicken Alfredo Pizza    17
The Spinach Supreme Pizza    15
The Brie Carre Pizza         14
Name: count, dtype: int64


Top 3 pizza minggu ke-21:
pizza_name
The Italian Vegetables Pizza    14
The Soppressata Pizza           14
The Brie Carre Pizza            11
Name: count, dtype: int64


Top 3 pizza minggu ke-22:
pizza_name
The Spinach Supreme Pizza    15
The Spinach Pesto Pizza      14
The Brie Carre Pizza          4
Name: count, dtype: int64


Top 3 pizza minggu ke-23:
pizza_name
The Italian Vegetables Pizza    15
The Mediterranean Pizza         14
The Brie Carre Pizza            12
Name: count, dtype: int64


Top 3 pizza minggu ke-24:
pizza_name
The Soppressata Pizza      16
The Chicken Pesto Pizza    12
The Brie Carre Pizza        5
Name: count, dtype: int64


Top 3 pizza minggu ke-25:
pizza_name
The Prosciutto and Arugula Pizza    19
The Brie Carre Pizza                14
The Italian Vegetables Pizza        13
Name: count, dtype: int64


Top 3 pizza minggu ke-26:
pizza_name
The Mediterranean Pizza    15
The Green Garden Pizza     14
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-27:
pizza_name
The Chicken Pesto Pizza      16
The Chicken Alfredo Pizza    16
The Brie Carre Pizza         10
Name: count, dtype: int64


Top 3 pizza minggu ke-28:
pizza_name
The Mediterranean Pizza         15
The Brie Carre Pizza            11
The Italian Vegetables Pizza     9
Name: count, dtype: int64


Top 3 pizza minggu ke-29:
pizza_name
The Calabrese Pizza        16
The Spinach Pesto Pizza    14
The Brie Carre Pizza       12
Name: count, dtype: int64


Top 3 pizza minggu ke-30:
pizza_name
The Spinach Pesto Pizza    15
The Soppressata Pizza      13
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-31:
pizza_name
The Chicken Alfredo Pizza       13
The Italian Vegetables Pizza    11
The Brie Carre Pizza            10
Name: count, dtype: int64


Top 3 pizza minggu ke-32:
pizza_name
The Italian Vegetables Pizza    15
The Green Garden Pizza          13
The Brie Carre Pizza             7
Name: count, dtype: int64


Top 3 pizza minggu ke-33:
pizza_name
The Spinach Pesto Pizza    14
The Calabrese Pizza        14
The Brie Carre Pizza       11
Name: count, dtype: int64


Top 3 pizza minggu ke-34:
pizza_name
The Green Garden Pizza     14
The Chicken Pesto Pizza    13
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-35:
pizza_name
The Mediterranean Pizza    13
The Calabrese Pizza        11
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-36:
pizza_name
The Italian Vegetables Pizza    13
The Brie Carre Pizza            13
The Calabrese Pizza             13
Name: count, dtype: int64


Top 3 pizza minggu ke-37:
pizza_name
The Spinach Supreme Pizza    14
The Calabrese Pizza          14
The Brie Carre Pizza         13
Name: count, dtype: int64


Top 3 pizza minggu ke-38:
pizza_name
The Green Garden Pizza    15
The Soppressata Pizza     13
The Brie Carre Pizza      10
Name: count, dtype: int64


Top 3 pizza minggu ke-39:
pizza_name
The Mediterranean Pizza    11
The Chicken Pesto Pizza     9
The Brie Carre Pizza        4
Name: count, dtype: int64


Top 3 pizza minggu ke-40:
pizza_name
The Mediterranean Pizza      16
The Spinach Supreme Pizza    15
The Brie Carre Pizza         11
Name: count, dtype: int64


Top 3 pizza minggu ke-41:
pizza_name
The Spinach Pesto Pizza      10
The Brie Carre Pizza          8
The Chicken Alfredo Pizza     7
Name: count, dtype: int64


Top 3 pizza minggu ke-42:
pizza_name
The Mediterranean Pizza    15
The Spinach Pesto Pizza    13
The Brie Carre Pizza        7
Name: count, dtype: int64


Top 3 pizza minggu ke-43:
pizza_name
The Chicken Pesto Pizza    12
The Spinach Pesto Pizza    11
The Brie Carre Pizza        8
Name: count, dtype: int64


Top 3 pizza minggu ke-44:
pizza_name
The Italian Vegetables Pizza    11
The Spinach and Feta Pizza       9
The Brie Carre Pizza             8
Name: count, dtype: int64


Top 3 pizza minggu ke-45:
pizza_name
The Italian Vegetables Pizza         14
The Vegetables + Vegetables Pizza    14
The Brie Carre Pizza                  7
Name: count, dtype: int64


Top 3 pizza minggu ke-46:
pizza_name
The Green Garden Pizza          13
The Brie Carre Pizza            12
The Italian Vegetables Pizza    12
Name: count, dtype: int64


Top 3 pizza minggu ke-47:
pizza_name
The Green Garden Pizza          14
The Italian Vegetables Pizza    10
The Brie Carre Pizza             8
Name: count, dtype: int64


Top 3 pizza minggu ke-48:
pizza_name
The Spinach Supreme Pizza    16
The Chicken Pesto Pizza      14
The Brie Carre Pizza         13
Name: count, dtype: int64


Top 3 pizza minggu ke-49:
pizza_name
The Green Garden Pizza    13
The Calabrese Pizza       11
The Brie Carre Pizza       8
Name: count, dtype: int64


Top 3 pizza minggu ke-50:
pizza_name
The Spinach Pesto Pizza    13
The Mediterranean Pizza    11
The Brie Carre Pizza        9
Name: count, dtype: int64


Top 3 pizza minggu ke-51:
pizza_name
The Calabrese Pizza       14
The Green Garden Pizza    13
The Brie Carre Pizza      10
Name: count, dtype: int64


Top 3 pizza minggu ke-52:
pizza_name
The Spinach Supreme Pizza    8
The Soppressata Pizza        7
The Brie Carre Pizza         5
Name: count, dtype: int64


Top 3 pizza minggu ke-53:
pizza_name
The Spinach Supreme Pizza    6
The Calabrese Pizza          6
The Brie Carre Pizza         4
Name: count, dtype: int64

In [111]:
top_pizzas_per_week[53]

pizza_name
The California Chicken Pizza    24
The Classic Deluxe Pizza        24
The Pepperoni Pizza             21
Name: count, dtype: int64

In [98]:
weekly_dataframes[2]

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
581,582,255,2015-01-05,L,The Five Cheese Pizza,2
582,583,255,2015-01-05,M,The Green Garden Pizza,2
583,584,255,2015-01-05,L,The Hawaiian Pizza,2
584,585,255,2015-01-05,M,The Spinach and Feta Pizza,2
585,586,256,2015-01-05,L,"The Pepperoni, Mushroom, and Peppers Pizza",2
...,...,...,...,...,...,...
1527,1528,679,2015-01-11,L,The Italian Supreme Pizza,2
1528,1529,679,2015-01-11,L,The Mediterranean Pizza,2
1529,1530,680,2015-01-11,S,The Chicken Pesto Pizza,2
1530,1531,680,2015-01-11,M,The Sicilian Pizza,2
1531,1532,681,2015-01-11,L,The Pepper Salami Pizza,2

In [65]:
len(weekly_dataframes)

53

In [66]:
start_date = '2015-01-01'
end_date = '2015-01-31'

# Memfilter data berdasarkan rentang tanggal
Januari = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]

In [67]:
Januari

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
0,1,1,2015-01-01,M,The Hawaiian Pizza,1
1,2,2,2015-01-01,M,The Classic Deluxe Pizza,1
2,3,2,2015-01-01,L,The Five Cheese Pizza,1
3,4,2,2015-01-01,L,The Italian Supreme Pizza,1
4,5,2,2015-01-01,M,The Mexicana Pizza,1
...,...,...,...,...,...,...
4151,4152,1844,2015-01-31,S,The Spinach Supreme Pizza,5
4152,4153,1845,2015-01-31,L,The Italian Vegetables Pizza,5
4153,4154,1845,2015-01-31,L,The Pepper Salami Pizza,5
4154,4155,1845,2015-01-31,S,The Soppressata Pizza,5
4155,4156,1845,2015-01-31,M,The Vegetables + Vegetables Pizza,5

In [68]:
start_date = '2015-02-01'
end_date = '2015-02-28'

# Memfilter data berdasarkan rentang tanggal
Februari = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Februari

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
4156,4157,1846,2015-02-01,S,The Big Meat Pizza,5
4157,4158,1847,2015-02-01,M,The Classic Deluxe Pizza,5
4158,4159,1848,2015-02-01,L,The Classic Deluxe Pizza,5
4159,4160,1848,2015-02-01,M,The Italian Capocollo Pizza,5
4160,4161,1849,2015-02-01,L,The Five Cheese Pizza,5
...,...,...,...,...,...,...
8043,8044,3529,2015-02-28,L,The Italian Capocollo Pizza,9
8044,8045,3529,2015-02-28,M,The Pepper Salami Pizza,9
8045,8046,3530,2015-02-28,S,The Classic Deluxe Pizza,9
8046,8047,3530,2015-02-28,S,The Green Garden Pizza,9
8047,8048,3530,2015-02-28,M,The Vegetables + Vegetables Pizza,9

In [69]:
start_date = '2015-03-01'
end_date = '2015-03-31'

# Memfilter data berdasarkan rentang tanggal
Maret = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Maret

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
8048,8049,3531,2015-03-01,M,The Pepperoni Pizza,9
8049,8050,3532,2015-03-01,S,The Southwest Chicken Pizza,9
8050,8051,3533,2015-03-01,L,The Four Cheese Pizza,9
8051,8052,3533,2015-03-01,M,The Italian Supreme Pizza,9
8052,8053,3533,2015-03-01,L,The Vegetables + Vegetables Pizza,9
...,...,...,...,...,...,...
12229,12230,5369,2015-03-31,L,The Hawaiian Pizza,14
12230,12231,5369,2015-03-31,L,The Mexicana Pizza,14
12231,12232,5369,2015-03-31,S,The Sicilian Pizza,14
12232,12233,5369,2015-03-31,L,The Spicy Italian Pizza,14
12233,12234,5370,2015-03-31,M,The Spicy Italian Pizza,14

In [70]:
start_date = '2015-04-01'
end_date = '2015-04-30'

# Memfilter data berdasarkan rentang tanggal
April = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
April

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
12234,12235,5371,2015-04-01,M,The Sicilian Pizza,14
12235,12236,5371,2015-04-01,L,The Soppressata Pizza,14
12236,12237,5372,2015-04-01,M,The Pepperoni Pizza,14
12237,12238,5372,2015-04-01,S,The Greek Pizza,14
12238,12239,5373,2015-04-01,M,The Four Cheese Pizza,14
...,...,...,...,...,...,...
16296,16297,7167,2015-04-30,S,The Sicilian Pizza,18
16297,16298,7168,2015-04-30,L,The Five Cheese Pizza,18
16298,16299,7169,2015-04-30,S,The Green Garden Pizza,18
16299,16300,7169,2015-04-30,L,The Southwest Chicken Pizza,18
16300,16301,7169,2015-04-30,XL,The Greek Pizza,18

In [71]:
start_date = '2015-05-01'
end_date = '2015-05-31'

# Memfilter data berdasarkan rentang tanggal
Mei = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Mei

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
16301,16302,7170,2015-05-01,M,The Classic Deluxe Pizza,18
16302,16303,7171,2015-05-01,S,The Barbecue Chicken Pizza,18
16303,16304,7172,2015-05-01,S,The Barbecue Chicken Pizza,18
16304,16305,7173,2015-05-01,L,The Mexicana Pizza,18
16305,16306,7174,2015-05-01,M,The Calabrese Pizza,18
...,...,...,...,...,...,...
20535,20536,9019,2015-05-31,L,The Chicken Pesto Pizza,22
20536,20537,9020,2015-05-31,S,The Big Meat Pizza,22
20537,20538,9020,2015-05-31,L,The Mexicana Pizza,22
20538,20539,9021,2015-05-31,L,The Italian Supreme Pizza,22
20539,20540,9022,2015-05-31,L,The Italian Supreme Pizza,22

In [72]:
start_date = '2015-06-01'
end_date = '2015-06-30'

# Memfilter data berdasarkan rentang tanggal
Juni = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Juni

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
20540,20541,9023,2015-06-01,M,The Green Garden Pizza,23
20541,20542,9024,2015-06-01,M,The Vegetables + Vegetables Pizza,23
20542,20543,9025,2015-06-01,M,The Barbecue Chicken Pizza,23
20543,20544,9026,2015-06-01,S,The Barbecue Chicken Pizza,23
20544,20545,9026,2015-06-01,S,The Pepperoni Pizza,23
...,...,...,...,...,...,...
24560,24561,10794,2015-06-30,S,The Brie Carre Pizza,27
24561,24562,10794,2015-06-30,M,The Chicken Alfredo Pizza,27
24562,24563,10794,2015-06-30,M,The Prosciutto and Arugula Pizza,27
24563,24564,10794,2015-06-30,L,The Spicy Italian Pizza,27
24564,24565,10795,2015-06-30,L,The Soppressata Pizza,27

In [73]:
start_date = '2015-07-01'
end_date = '2015-07-31'

# Memfilter data berdasarkan rentang tanggal
Juli = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Juli

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
24565,24566,10796,2015-07-01,L,The Barbecue Chicken Pizza,27
24566,24567,10796,2015-07-01,M,The Hawaiian Pizza,27
24567,24568,10796,2015-07-01,L,The Italian Supreme Pizza,27
24568,24569,10796,2015-07-01,L,The Prosciutto and Arugula Pizza,27
24569,24570,10796,2015-07-01,S,The Spinach Pesto Pizza,27
...,...,...,...,...,...,...
28861,28862,12727,2015-07-31,S,The Spinach Supreme Pizza,31
28862,28863,12728,2015-07-31,S,The Napolitana Pizza,31
28863,28864,12729,2015-07-31,M,The Italian Supreme Pizza,31
28864,28865,12729,2015-07-31,S,The Pepperoni Pizza,31
28865,28866,12730,2015-07-31,S,The Spinach Supreme Pizza,31

In [74]:
start_date = '2015-08-01'
end_date = '2015-08-31'

# Memfilter data berdasarkan rentang tanggal
Agustus = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Agustus

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
28866,28867,12731,2015-08-01,M,The Barbecue Chicken Pizza,31
28867,28868,12731,2015-08-01,L,The Chicken Alfredo Pizza,31
28868,28869,12731,2015-08-01,S,The Sicilian Pizza,31
28869,28870,12731,2015-08-01,S,The Spicy Italian Pizza,31
28870,28871,12732,2015-08-01,S,"The Pepperoni, Mushroom, and Peppers Pizza",31
...,...,...,...,...,...,...
32955,32956,14569,2015-08-31,M,The Calabrese Pizza,36
32956,32957,14570,2015-08-31,M,The Calabrese Pizza,36
32957,32958,14570,2015-08-31,L,The Chicken Pesto Pizza,36
32958,32959,14570,2015-08-31,M,The Spinach Supreme Pizza,36
32959,32960,14571,2015-08-31,S,The Spinach Pesto Pizza,36

In [75]:
start_date = '2015-09-01'
end_date = '2015-09-30'

# Memfilter data berdasarkan rentang tanggal
September = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
September

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
32960,32961,14572,2015-09-01,L,The Italian Capocollo Pizza,36
32961,32962,14572,2015-09-01,L,The Thai Chicken Pizza,36
32962,32963,14573,2015-09-01,S,The Sicilian Pizza,36
32963,32964,14574,2015-09-01,L,The Barbecue Chicken Pizza,36
32964,32965,14574,2015-09-01,L,The Sicilian Pizza,36
...,...,...,...,...,...,...
36774,36775,16231,2015-09-30,S,The Sicilian Pizza,40
36775,36776,16231,2015-09-30,L,The Spinach Pesto Pizza,40
36776,36777,16231,2015-09-30,M,The Vegetables + Vegetables Pizza,40
36777,36778,16232,2015-09-30,M,The Calabrese Pizza,40
36778,36779,16232,2015-09-30,S,The Hawaiian Pizza,40

In [76]:
start_date = '2015-10-01'
end_date = '2015-10-31'

# Memfilter data berdasarkan rentang tanggal
Oktober = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Oktober

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
36779,36780,16233,2015-10-01,M,"The Pepperoni, Mushroom, and Peppers Pizza",40
36780,36781,16233,2015-10-01,XL,The Greek Pizza,40
36781,36782,16234,2015-10-01,L,The Spinach and Feta Pizza,40
36782,36783,16234,2015-10-01,S,The Thai Chicken Pizza,40
36783,36784,16235,2015-10-01,M,The Italian Supreme Pizza,40
...,...,...,...,...,...,...
40571,40572,17876,2015-10-31,L,The Mexicana Pizza,44
40572,40573,17876,2015-10-31,S,The Spinach Supreme Pizza,44
40573,40574,17877,2015-10-31,S,The Thai Chicken Pizza,44
40574,40575,17878,2015-10-31,M,The Italian Supreme Pizza,44
40575,40576,17878,2015-10-31,M,The Southwest Chicken Pizza,44

In [77]:
start_date = '2015-11-01'
end_date = '2015-11-30'

# Memfilter data berdasarkan rentang tanggal
November = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
November

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
40576,40577,17879,2015-11-01,M,The Chicken Alfredo Pizza,44
40577,40578,17880,2015-11-01,S,The Big Meat Pizza,44
40578,40579,17880,2015-11-01,L,The California Chicken Pizza,44
40579,40580,17880,2015-11-01,M,The California Chicken Pizza,44
40580,40581,17880,2015-11-01,S,The Green Garden Pizza,44
...,...,...,...,...,...,...
44756,44757,19668,2015-11-30,L,The Southwest Chicken Pizza,49
44757,44758,19669,2015-11-30,M,The Classic Deluxe Pizza,49
44758,44759,19670,2015-11-30,M,The Barbecue Chicken Pizza,49
44759,44760,19670,2015-11-30,S,The Big Meat Pizza,49
44760,44761,19670,2015-11-30,S,The Southwest Chicken Pizza,49

In [78]:
start_date = '2015-12-01'
end_date = '2015-12-30'

# Memfilter data berdasarkan rentang tanggal
Desember = PilihKolom[(PilihKolom['order_date'] >= start_date) & (PilihKolom['order_date'] <= end_date)]
Desember

,order_details_id,order_id,order_date,pizza_size,pizza_name,week_number
44761,44762,19671,2015-12-01,M,The Four Cheese Pizza,49
44762,44763,19671,2015-12-01,S,The Mediterranean Pizza,49
44763,44764,19672,2015-12-01,S,The Prosciutto and Arugula Pizza,49
44764,44765,19673,2015-12-01,M,The Chicken Pesto Pizza,49
44765,44766,19674,2015-12-01,L,The Five Cheese Pizza,49
...,...,...,...,...,...,...
48444,48445,21274,2015-12-30,M,The Southwest Chicken Pizza,53
48445,48446,21275,2015-12-30,L,The Barbecue Chicken Pizza,53
48446,48447,21275,2015-12-30,S,The Italian Vegetables Pizza,53
48447,48448,21276,2015-12-30,M,The Spicy Italian Pizza,53
48448,48449,21277,2015-12-30,L,The Pepperoni Pizza,53

In [79]:
unique_counts1 = Januari['pizza_name'].value_counts().head(3)
unique_counts1

pizza_name
The Pepperoni Pizza             235
The Barbecue Chicken Pizza      206
The California Chicken Pizza    197
Name: count, dtype: int64

In [80]:
unique_counts2 = Februari['pizza_name'].value_counts().head(3)
unique_counts2

pizza_name
The Pepperoni Pizza             201
The California Chicken Pizza    200
The Hawaiian Pizza              194
Name: count, dtype: int64

In [81]:
unique_counts3 = Maret['pizza_name'].value_counts().head(3)
unique_counts3

pizza_name
The Barbecue Chicken Pizza    229
The Hawaiian Pizza            212
The Thai Chicken Pizza        210
Name: count, dtype: int64

In [82]:
unique_counts4 = April['pizza_name'].value_counts().head(3)
unique_counts4

pizza_name
The Classic Deluxe Pizza      214
The Hawaiian Pizza            213
The Barbecue Chicken Pizza    208
Name: count, dtype: int64

In [83]:
unique_counts5 = Mei['pizza_name'].value_counts().head(3)
unique_counts5

pizza_name
The Pepperoni Pizza           238
The Barbecue Chicken Pizza    220
The Classic Deluxe Pizza      215
Name: count, dtype: int64

In [84]:
unique_counts6 = Juni['pizza_name'].value_counts().head(3)
unique_counts6

pizza_name
The California Chicken Pizza    216
The Classic Deluxe Pizza        193
The Barbecue Chicken Pizza      188
Name: count, dtype: int64

In [85]:
unique_counts7 = Juli['pizza_name'].value_counts().head(3)
unique_counts7

pizza_name
The Pepperoni Pizza           223
The Classic Deluxe Pizza      222
The Barbecue Chicken Pizza    217
Name: count, dtype: int64

In [86]:
unique_counts8 = Agustus['pizza_name'].value_counts().head(3)
unique_counts8

pizza_name
The California Chicken Pizza    225
The Pepperoni Pizza             209
The Classic Deluxe Pizza        205
Name: count, dtype: int64

In [87]:
unique_counts9 = September['pizza_name'].value_counts().head(3)
unique_counts9

pizza_name
The Classic Deluxe Pizza    201
The Thai Chicken Pizza      199
The Hawaiian Pizza          195
Name: count, dtype: int64

In [88]:
unique_counts10 = Oktober['pizza_name'].value_counts().head(3)
unique_counts10

pizza_name
The Classic Deluxe Pizza    193
The Pepperoni Pizza         191
The Thai Chicken Pizza      186
Name: count, dtype: int64

In [89]:
unique_counts11 = November['pizza_name'].value_counts().head(3)
unique_counts11

pizza_name
The Hawaiian Pizza            219
The Classic Deluxe Pizza      217
The Barbecue Chicken Pizza    211
Name: count, dtype: int64

In [90]:
unique_counts12 = Desember['pizza_name'].value_counts().head(3)
unique_counts12

pizza_name
The Hawaiian Pizza              202
The Thai Chicken Pizza          198
The California Chicken Pizza    194
Name: count, dtype: int64

## gak kepake

In [91]:
len(Mei['pizza_name'].unique())

32

In [92]:
Mei.columns

Index(['order_details_id', 'order_id', 'order_date', 'pizza_size',
       'pizza_name', 'week_number'],
      dtype='object')

In [93]:
result = PilihKolom.groupby('order_id').agg({
    'pizza_size': '; '.join,  # Menggabungkan nama pizza
    # 'pizza_size': ', '.join   # Menggabungkan ukuran pizza 
}).reset_index()

result

       order_id     pizza_size
0             1              M
1             2  M; L; L; M; L
2             3           M; L
3             4              M
4             5              M
...         ...            ...
21345     21346     S; M; S; L
21346     21347     M; M; S; L
21347     21348        M; L; S
21348     21349              L
21349     21350              S

[21350 rows x 2 columns]

In [94]:
# result['pizza_full_name'] = result['pizza_full_name'].apply(lambda x: str(x))

In [95]:
sampled_data = result.sample(n=20, random_state=42)
print(sampled_data)

       order_id     pizza_size
19269     19270              L
4634       4635           S; S
5412       5413              S
812         813           S; L
19801     19802              L
12542     12543           M; M
6491       6492              M
1215       1216              M
18559     18560              M
2812       2813   S; L; L; XXL
5800       5801              M
12393     12394        M; L; L
13101     13102              L
13177     13178        L; S; S
19271     19272     S; M; M; L
21244     21245              L
640         641     M; L; M; S
6206       6207  S; M; S; L; M
4160       4161        M; L; M
13777     13778              S

In [96]:
sampled_data.to_excel('samplingPizzaSIZE.xlsx', index=False)  # index=False untuk tidak menyimpan indeks

In [97]:
transactions = sampled_data['pizza_full_name']

KeyError: 'pizza_full_name'

In [ ]:
transactions

19269                          The Chicken Pesto Pizza (L)
4634     The Big Meat Pizza (S); The Classic Deluxe Piz...
5412                              The Napolitana Pizza (S)
812      The California Chicken Pizza (S); The Southwes...
19801                            The Four Cheese Pizza (L)
12542    The Classic Deluxe Pizza (M); The Southwest Ch...
6491                        The Barbecue Chicken Pizza (M)
1215                        The Barbecue Chicken Pizza (M)
18559                      The Italian Capocollo Pizza (M)
2812     The Italian Supreme Pizza (S); The Mediterrane...
5800                          The Classic Deluxe Pizza (M)
12393    The Chicken Alfredo Pizza (M); The Hawaiian Pi...
13101                          The Pepper Salami Pizza (L)
13177    The Classic Deluxe Pizza (L); The Italian Supr...
19271    The Classic Deluxe Pizza (S); The Hawaiian Piz...
21244                            The Four Cheese Pizza (L)
640      The Pepperoni Pizza (M); The Southwest Chicken...
6206     The Big Meat Pizza (S); The Classic Deluxe Piz...
4160     The California Chicken Pizza (M); The Five Che...
13777                            The Soppressata Pizza (S)
Name: pizza_full_name, dtype: object

In [ ]:
sampled_data['pizza_full_name'].unique()

array(['The Chicken Pesto Pizza (L)',
       'The Big Meat Pizza (S); The Classic Deluxe Pizza (S)',
       'The Napolitana Pizza (S)',
       'The California Chicken Pizza (S); The Southwest Chicken Pizza (L)',
       'The Four Cheese Pizza (L)',
       'The Classic Deluxe Pizza (M); The Southwest Chicken Pizza (M)',
       'The Barbecue Chicken Pizza (M)',
       'The Italian Capocollo Pizza (M)',
       'The Italian Supreme Pizza (S); The Mediterranean Pizza (L); The Greek Pizza (L); The Greek Pizza (XXL)',
       'The Classic Deluxe Pizza (M)',
       'The Chicken Alfredo Pizza (M); The Hawaiian Pizza (L); The Southwest Chicken Pizza (L)',
       'The Pepper Salami Pizza (L)',
       'The Classic Deluxe Pizza (L); The Italian Supreme Pizza (S); The Southwest Chicken Pizza (S)',
       'The Classic Deluxe Pizza (S); The Hawaiian Pizza (M); The Mediterranean Pizza (M); The Napolitana Pizza (L)',
       'The Pepperoni Pizza (M); The Southwest Chicken Pizza (L); The Spinach Pesto Pizza (M); The Spinach and Feta Pizza (S)',
       'The Big Meat Pizza (S); The Classic Deluxe Pizza (M); The Green Garden Pizza (S); The Southwest Chicken Pizza (L); The Thai Chicken Pizza (M)',
       'The California Chicken Pizza (M); The Five Cheese Pizza (L); The Spinach Pesto Pizza (M)',
       'The Soppressata Pizza (S)'], dtype=object)

In [ ]:
from itertools import combinations

In [ ]:
# Fungsi untuk menghitung support
def calculate_support(itemset, transactions):
    count = 0
    for transaction in transactions:
        if all(item in transaction for item in itemset):
            count += 1
    return count / len(transactions)

In [ ]:
# Fungsi untuk menemukan frequent itemsets
def find_frequent_itemsets(transactions, min_support):
    itemsets = []
    items = {item for transaction in transactions for item in transaction}
    
    # Iterasi level itemsets
    k = 1
    while True:
        if k == 1:
            # Itemsets tunggal
            candidates = [{item} for item in items]
        else:
            # Gabungkan frequent itemsets sebelumnya
            candidates = [
                set(i).union(set(j)) for i in itemsets for j in itemsets
                if len(set(i).union(set(j))) == k
            ]
            # Hapus duplikat
            candidates = list(set(frozenset(c) for c in candidates))
        
        # Hitung support kandidat
        frequent_itemsets = []
        for candidate in candidates:
            support = calculate_support(candidate, transactions)
            if support >= min_support:
                frequent_itemsets.append(candidate)
                print(f"Frequent Itemset: {candidate}, Support: {support:.2f}")
        
        # Hentikan jika tidak ada frequent itemsets
        if not frequent_itemsets:
            break
        
        # Simpan frequent itemsets
        itemsets = frequent_itemsets
        k += 1
    
    return itemsets

In [ ]:
# Fungsi untuk menghasilkan aturan asosiasi
def generate_association_rules(frequent_itemsets, transactions, min_confidence):
    rules = []
    for itemset in frequent_itemsets:
        for i in range(1, len(itemset)):
            for antecedent in combinations(itemset, i):
                antecedent = set(antecedent)
                consequent = itemset - antecedent
                if consequent:
                    # Hitung confidence
                    support_itemset = calculate_support(itemset, transactions)
                    support_antecedent = calculate_support(antecedent, transactions)
                    confidence = support_itemset / support_antecedent
                    if confidence >= min_confidence:
                        rules.append((antecedent, consequent, confidence))
                        print(f"Rule: {antecedent} -> {consequent}, Confidence: {confidence:.2f}")
    return rules

In [ ]:
# # Parameter
# min_support = 0.5
# min_confidence = 0.7

# # Jalankan Apriori
# print("Step 1: Frequent Itemsets")
# frequent_itemsets = find_frequent_itemsets(transactions, min_support)

# print("\nStep 2: Association Rules")
# rules = generate_association_rules(frequent_itemsets, transactions, min_confidence)